/* BASE */

/* =============================================================== */
/* Styles for the "Usage Analytics Selector" dialog, opened from user preferences */
/* =============================================================== */

.sapUshellUsageAnalyticsSelectorLegalTextMessage {
    font-family: @sapUiFontFamily;
    font-size: @sapMFontSmallSize;
    line-height: normal;
    font-style: italic;
    color: @sapUiContentLabelColor;
    text-align: left;
    max-width: 14.375rem;
    border-top: solid 0.125rem @sapUiGroupContentBorderColor;
    padding-top: 0.625rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 1.2rem;
}

.sapUiMedia-Std-Phone .sapUshellUsageAnalyticsSelectorLegalTextMessage {
    margin-left: auto;
    max-width: none;
}
