/* =========================================================================== */
/* CSS for sap.suite.ui.commons/HeaderContainer.control for 'sap_belize' theme */
/* =========================================================================== */

.sapSuiteHdrCntrBtn > .sapMBtnInner {
	border: none;
}

.sapSuiteHdrCntrBGTransparent {
	background-color: transparent;
}

.sapSuiteHdrCntrBGSolid {
	background-color: @sapUiBaseColor;
}

.sapSuiteHdrCntrBGTranslucent {
	background-color: fade(@sapUiBaseColor, 100%);
}