/* ======================================================== */
/* CSS for sap.suite.ui.microchart/RadialMicroChart.control */
/* High Contrast Black Theme                                */
/* ======================================================== */

.sapSuiteRMCCircleBackground {
	fill: @sapHCStandardBG;
}

/* PATH COLORS */
.sapSuiteRMCPathNeutral {
	stroke: @sapUiChartPaletteSequentialHue1;
}

.sapSuiteRMCRing {
	stroke: @sapHCStandardFG;
}

.sapSuiteRMCPathGood {
	stroke: @sapUiChartPaletteSemanticGood;
}

.sapSuiteRMCPathError {
	stroke: @sapUiChartPaletteSemanticBad;
}

.sapSuiteRMCPathCritical {
	stroke: @sapUiChartPaletteSemanticCritical;
}

.sapSuiteRMCAccessibleTextColor {
	fill: @sapHCStandardFG;
}
