/* ======================================================== */
/* CSS for sap.suite.ui.microchart/RadialMicroChart.control */
/* High Contrast Black Theme                                */
/* ======================================================== */

.sapSuiteRMCCircleBackground {
	fill: @sapUiHcStandardBackground;
}

/* PATH COLORS */
.sapSuiteRMCPathNeutral {
	stroke: @sapUiChartPaletteSequentialHue1;
}

.sapSuiteRMCRing {
	stroke: @sapUiHcStandardForeground;
}

.sapSuiteRMCPathGood {
	stroke: @sapUiChartPaletteSemanticGood;
}

.sapSuiteRMCPathError {
	stroke: @sapUiChartPaletteSemanticBad;
}

.sapSuiteRMCPathCritical {
	stroke: @sapUiChartPaletteSemanticCritical;
}

/* TEXT COLORS */
.sapSuiteRMCAccessibleTextColor {
	fill: @sapUiHcStandardForeground;
}

html.sap-desktop .sapSuiteRMC:focus {
  	outline: 2px dotted @sapUiContentFocusColor;
}

.sapSuiteRMCRemainingCircle {
	stroke: none;
}
