/* ================================== */
/* CSS for control sap.m/Slider       */
/* Horizon High Contrast White Theme  */
/* ================================== */

/* slider */
.ui5-sap-viz-vizRangeSlider.sapVizSlider  .sapVizSliderProgress.focus{
    border:0.1875rem solid @sapUiDragAndDropBorderColor;
    background:none;
}

.ui5-sap-viz-vizRangeSlider.sapVizSlider  .sapVizSliderProgress:hover{
    border:0.1875rem solid @sapUiDragAndDropBorderColor;
    background:none;
}