/* ============================================================= */
/* CSS for control sap.suite.ui.microchart/InteractiveLineChart  */
/* Horizon High Contrast Black Theme                             */
/* ============================================================= */

@_sap_suite_ui_microchart_InteractiveLineChart_LineColor:				@sapUiHcStandardForeground;
@_sap_suite_ui_microchart_InteractiveLineChart_SelectedPointBorder:		@sapUiHcStandardForeground;

.sapSuiteILCBackgroundArea {
	z-index: -1;
}
html.sap-tablet .sapSuiteILC.sapSuiteILCNonInteractive .sapSuiteILCSection:not(.sapSuiteILCSelected) .sapSuiteILCInteractionArea:focus,
html.sap-phone .sapSuiteILC.sapSuiteILCNonInteractive .sapSuiteILCSection:not(.sapSuiteILCSelected) .sapSuiteILCInteractionArea:focus,
.sapSuiteILC {
	border: 0.125rem dotted transparent;
	outline: none;
}
.sapSuiteILCSvgElement {
	stroke: @sapUiHcStandardForeground;
}
.sapSuiteILCSection {
	border: 0.125rem solid transparent;
}

.sapSuiteILCTextElement {
	color: @sapUiHcStandardForeground;
}
.sapSuiteILCBottomLabelArea {
	border-top-color: @sapUiHcStandardForeground;
}
html.sap-desktop .sapSuiteILC:not(.sapSuiteILCNonInteractive) .sapSuiteILCSection:hover,
html.sap-desktop .sapSuiteILC:not(.sapSuiteILCNonInteractive) .sapSuiteILCSection.sapSuiteILCSelected:hover {
	.sapSuiteILCBackgroundArea {
		background-color: @sapUiHcHighlightBackground !important;
	}
	.sapSuiteILCPoint {
		border-color: @sapUiHcStandardForeground;
		&.sapSuiteICSemanticColorGood {
		  border-color: @sapUiHcPositiveColor;
		}
	  	&.sapSuiteICSemanticColorCritical {
		  border-color: @sapUiHcCriticalColor;
		}
	  	&.sapSuiteICSemanticColorError {
		  border-color: @sapUiHcNegativeColor;
		}
	}
}
.sapSuiteILCSelected {
	.sapSuiteILCBackgroundArea {
		background-color: @sapUiHcHighlightAltBackground !important;
	}
	.sapSuiteILCPoint {
		border-color: @sapUiHcStandardForeground;
		&.sapSuiteICSemanticColorGood {
		  border-color: @sapUiHcPositiveColor;
		}
		&.sapSuiteICSemanticColorCritical {
		  border-color: @sapUiHcCriticalColor;
		}
		&.sapSuiteICSemanticColorError {
		  border-color: @sapUiHcNegativeColor;
		}
	}
}
html.sap-tablet .sapSuiteILC.sapSuiteILCNonInteractive .sapSuiteILCSelected .sapSuiteILCInteractionArea:focus,
html.sap-phone .sapSuiteILC.sapSuiteILCNonInteractive .sapSuiteILCSelected .sapSuiteILCInteractionArea:focus,
html.sap-desktop .sapSuiteILC:not(.sapSuiteILCNonInteractive) .sapSuiteILCSection:hover .sapSuiteILCInteractionArea,
.sapSuiteILCSelected .sapSuiteILCInteractionArea {
	border: 1px solid @sapUiHcStandardForeground;
	outline: none;
}
html.sap-desktop .sapSuiteILCSection .sapSuiteILCInteractionArea:focus,
html.sap-desktop .sapSuiteILC:not(.sapSuiteILCNonInteractive) .sapSuiteILCSection:hover .sapSuiteILCInteractionArea:focus {
	border: 0.125rem dotted @sapUiHcStandardForeground;
	outline: none;
}
html.sap-desktop .sapSuiteILC:focus {
	border-color: @sapUiHcStandardForeground;
	outline: none;
}
.sapSuiteILCDivider {
	stroke: @sapUiHcStandardForeground;
}