.sapUshellSearchFacetFilter .sapMListHdr {
    border-bottom: none;
}

.sapUshellSearchFacet .sapMGHLI {
    border-bottom: none !important;
}

//.sapUshellSearchFacet .sapMListModeMultiSelect .sapUshellSearchFacetItem {
//	padding-left: 0;
//}

/* focus should be visible */
.sapMLIB.sapMCLI.sapUshellSearchFacetList {
    padding: 1px;
}

.sapMCLI.sapMLIB.sapUshellSearchFacetShowMoreItem {
    padding-left: 1rem;
    padding-right: 1rem;
    .sapMFlexItem:last-child {
        line-height: 2rem;
        text-align: right;
    }
}

.sapUshellSearchFacetInfoZeile {
    &:empty {
        display: none;
    }
    line-height: 2rem;
    font-size: @sapMFontSmallSize;
    vertical-align: middle;
    /*margin-left:10px;*/
}

.sapUshellSearchFacetShowMoreLink {
    line-height: normal;
    vertical-align: middle;
    /*float: right;*/
    /*padding-right: 20px;*/
    /*padding-bottom: 3px;*/
}

.sapUshellSearchFacet .sapMListShowSeparatorsNone .sapMSLIInfoNone {
    overflow: visible;
}

.sapMLIB.sapMCLI.sapUshellSearchFacetList {
    outline-offset: -1px;
}

.sapUshellSearchHierarchyFacetItemIcon {
    width: 1rem;
    margin-left: 0.5rem;
}

.sapUshellSearchHierarchyFacetItemLabel {
    margin-left: 0.5rem;
}
