/* =================================================================================== */
/* CSS for control "sap.ushell.components.shell.Settings.appearance.Appearance" (base) */
/* =================================================================================== */

.sapUshellAppearanceItemViewLeft {
  margin-left: 2rem;
  height: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.sapUshellAppearanceItemViewRight {
  position: absolute;
  right: 0rem;
  margin-top: 1.5rem;
}

.sapUshellBlueCrystalIconStyle {
  background-image: -webkit-linear-gradient(top, #2ca9b2 0, #178299 100%);
  background-image: linear-gradient(to top, #2ca9b2 0, #178299 100%);
  background-image: -moz-linear-gradient(top, #2ca9b2 0, #178299 100%);
  background-image: -o-linear-gradient(top, #2ca9b2 0, #178299 100%);
  border-radius: 100%;
}

.sapUshellBaseIconStyle {
  background-image: -webkit-linear-gradient(top, #a9c6de 0, #e7ecf0 100%);
  background-image: linear-gradient(to top, #a9c6de 0, #e7ecf0 100%);
  background-image: -moz-linear-gradient(top, #a9c6de 0, #e7ecf0 100%);
  background-image: -o-linear-gradient(top, #a9c6de 0, #e7ecf0 100%);
  border-radius: 100%;
}

.sapUshellHCBIconStyle,
.sapUshellQuartzHCBIconStyle,
.sapUshellHorizonHCBIconStyle {
  background-image: -webkit-linear-gradient(top, #000000 0, #000000 100%);
  background-image: linear-gradient(to top, #000000 0, #000000 100%);
  background-image: -moz-linear-gradient(top, #000000 0, #000000 100%);
  background-image: -o-linear-gradient(top, #000000 0, #000000 100%);
  border-radius: 100%;
}

.sapUshellHCBIconStyleOnHCB {
  border: 1px solid #FFFFFF;
}

.sapUshellHCWIconStyle,
.sapUshellQuartzHCWIconStyle,
.sapUshellHorizonHCWIconStyle {
  background-image: -webkit-linear-gradient(top, #ffffff 0, #ffffff 100%);
  background-image: linear-gradient(to top, #ffffff 0, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0, #ffffff 100%);
  background-image: -o-linear-gradient(top, #ffffff 0, #ffffff 100%);
  border-radius: 100%;
}

.sapUshellHCWIconStyleOnHCW {
  border: 1px solid #000000;
}

.sapUshellDarkMode.sapUshellQuartzHCBIconStyle,
.sapUshellDarkMode.sapUshellQuartzHCWIconStyle {
  border: 1px solid #334558;
  box-shadow: inset 0 0 2px #334558;
  background: linear-gradient(135deg, #000 45%, #fff 55%);
  border-radius: 100%;
}

.sapUshellDarkMode.sapUshellHorizonHCBIconStyle,
.sapUshellDarkMode.sapUshellHorizonHCWIconStyle {
  border: 1px solid #334558;
  box-shadow: inset 0 0 2px #334558;
  background: linear-gradient(135deg, #000 45%, #fff 55%);
  border-radius: 100%;
}

.sapUshellBelizeIconStyle {
  background-image: -webkit-linear-gradient(top, #a9c6de 0, #e7ecf0 100%);
  background-image: linear-gradient(to top, #a9c6de 0, #e7ecf0 100%);
  background-image: -moz-linear-gradient(top, #a9c6de 0, #e7ecf0 100%);
  background-image: -o-linear-gradient(top, #a9c6de 0, #e7ecf0 100%);
  border-radius: 100%;
}

.sapUshellPlusIconStyle {
  background-image: -webkit-linear-gradient(top, #2c4e6c 0, #9ec7d8 100%);
  background-image: linear-gradient(to top, #2c4e6c 0, #9ec7d8 100%);
  background-image: -moz-linear-gradient(top, #2c4e6c 0, #9ec7d8 100%);
  background-image: -o-linear-gradient(top, #2c4e6c 0, #9ec7d8 100%);
  border-radius: 100%;
}

.sapUshellQuartzLightIconStyle {
  background-color: white;
  border-radius: 100%;
  border: 1px solid #334558;
  box-shadow: inset 0 0 4px #334558;
}

.sapUshellQuartzDarkIconStyle {
  background-color: #334558;
  border-radius: 100%;
  border: 1px solid white;
  box-shadow: inset 0 0 4px white;
}

.sapUshellDarkMode.sapUshellQuartzLightIconStyle,
.sapUshellDarkMode.sapUshellQuartzDarkIconStyle {
  border: 1px solid #334558;
  box-shadow: inset 0 0 4px white;
  background: linear-gradient(135deg, #334558 45%, #edeff0 55%);
}

.sapUshellHorizonLightIconStyle {
  background-color: #EBF8FF;
  border: 1px solid #758ca4;
  box-shadow: inset 0 0 2px #758ca4;
  border-radius: 100%;
}

.sapUshellHorizonDarkIconStyle {
  background-color: #1D2D3E;
  border: 1px solid #1D2D3E;
  box-shadow: inset 0 0 2px #a9b4be;
  border-radius: 100%;
}

.sapUshellDarkMode.sapUshellHorizonLightIconStyle,
.sapUshellDarkMode.sapUshellHorizonDarkIconStyle {
  border: 1px solid #1D2D3E;
  box-shadow: inset 0 0 2px #1d2d3e;
  background: linear-gradient(135deg, #1D2D3E 45%, #EBF8FF 55%);
}

.sapUshellAppearanceSelectedIcon {
  position: absolute;
  right: 1rem;
}

.sapUshellAppearanceIcon {
  width: 3rem;
  height: 3rem;
}

.sapUshellAppearanceBox {
  padding: 1rem;
}

.sapUshellAppearanceLabel {
  line-height: 3rem;
  margin-right: 0.5rem;
  white-space: normal;
}

.sapUiSizeCompact .sapUshellAppearanceLabel {
  line-height: 1.875rem;
}

.sapUshellAppearanceDisplaySettingSection {
  padding-top: 3rem;
}

.sapUshellAppearanceConfigBox {
  padding-left: 2rem;
}

#userPrefThemeSelector .sapMFlexItem.sapUshellAppearanceFlexItemText {
  align-self: center;
}

.sapUshellAppearanceAnimation {
  padding-left: 4.8rem;
}

.sapUshellAppearanceContentDensityText .sapUshellFlpSettingsDescription,
.sapUshellAppearanceTileSizeText .sapUshellFlpSettingsDescription {
  border-top: solid 0.125rem #ebebeb;
  margin-top: 1rem;
  padding-top: 0.625rem;
}

.sap-phone .sapUshellAppearanceAnimation {
  padding-left: 0;
}

#userPrefThemeSelector .sapMFlexItem {
  padding-right: 1rem;
}

#userPrefThemeSelector .sapMLIBActionable .sapMText {
  padding-top: 0.5rem;
}

.sapUshellAppearanceItemText {
  padding-right: 1rem;
}

.sapUshellAppearanceCustomListItem {
  border: none;
}

.sapUshellAppearanceCustomListItem:hover {
  background-color: transparent;
}

.sapUshellAppearanceTable .sapMListTblHeaderCell {
  background-color: transparent;
}

#userPrefThemeSelector--ObjectPageLayout-spacer {
  background-color: transparent;
}
