/* ================================================================*/
/* CSS for control sap.ushell/ContactSupportButton.control  BASE theme       */
/* =============================================================== */

/*Styles*/

.sapUshellTechnicalInfoBox {
  max-height: 9.38rem;
  overflow-y: auto;
  margin: 0.94rem 0;
  width: auto;
  }
