.sapUshellCGHLIContent {
  height: auto !important;
  min-height: 2.75rem;
  line-height: 0 !important;
  padding-bottom: 0.5rem;
}

.sapUshellCGHLIDescription {
  font-weight: @sapUiFontHeaderWeight;
}
