/* Shell Floating Actions Buttons */


 .sapUshellShellFloatingActions {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    z-index: 1;
}
.sapUiMedia-Std-Phone, .sapUiMedia-Std-Tablet  {
  .sapUshellShellFloatingActions{
    right: 1rem;
  }
}
