/* BASE */

/* =============================================================== */
/* Styles for the "Usage Analytics Selector" dialog, opened from user preferences */
/* =============================================================== */

.sapUshellUsageAnalyticsSelectorLegalTextMessage {
     padding-top: 1rem;
     margin-left: 12rem;
}

.sapUshellUsageAnalyticsSelectorSwitchButton {
     padding-top: 1rem;
}

.sapUiMedia-Std-Phone .sapUshellUsageAnalyticsSelectorSwitchButton {
  padding-top: 0rem;
}

.sapUshellUsageAnalyticsSelectorLabel {
    padding-top: 0.625rem;
    margin-right: 0.5rem;
}
