/* BASE */

/* ============================================= */
/* CSS for User Image Consent Dialog */
/* ============================================= */

/* LESS Variables */
/* ============================================= */



/* Styles */
/* ============================================= */

.sapUshellUserConsentDialogText {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.sapUshellUserConsentDialogLink {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.sapUshellUserConsentDialogTerms {
  padding-bottom: 1rem;
  padding-top: 0.625rem;
  border-top : @sapUiGroupContentBorderColor 2px solid;
  font-style :italic;
  font-family: @sapUiFontFamily;
  font-size: @sapMFontSmallSize;
  line-height: 1.2rem;
  color: @sapUiContentLabelColor;
  text-align: left;
}

.sapUshellUserConsentDialog {
  margin: 1rem;
  width:  25rem;
}

#userConsentDialogLayout {
  width: 100%;
}

.ushellUserImgConsentTermsOfUseFlexBox{
  margin-left: 1rem;
  margin-right: 1rem;
}
