/* ==================================================================== */
/* CSS for sap.suite.ui.commons/ProcessFlowLaneHeader.control           */
/* Bluecrystal Theme                                                    */
/* ==================================================================== */

.suiteUiProcessFlowLaneHeaderDonutSvg {
	-webkit-tap-highlight-color: transparent;
	-webkit-transform: translate3d(0,0,0);
}

.suiteUiProcessFlowLaneHeaderIconContainer {
	-webkit-tap-highlight-color: transparent;
	-webkit-transform: translate3d(0,0,0);
}

.suiteUiProcessFlowLaneHeaderStartEndSymbolContainer {
	border: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-transform: translate3d(0,0,0);
}

.suiteUiProcessFlowLaneHeaderProcessSymbolContainer {
	border: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-transform: translate3d(0,0,0);
}

.suiteUiProcessFlowLaneHeaderProcessSymbol {
	-webkit-tap-highlight-color: transparent;
	-webkit-transform: translate3d(0,0,0);
}

.suiteUiProcessFlowLaneHeaderProcessSymbolIcon,
.suiteUiProcessFlowLaneHeaderProcessSymbolIcon > .sapUiIcon,
.suiteUiProcessFlowLaneHeaderProcessSymbolIcon > .sapUiIcon:before {
	-webkit-tap-highlight-color: transparent;
	-webkit-transform: translate3d(0,0,0);
}

.suiteUiProcessFlowLaneHeaderNoSelection {
	-webkit-tap-highlight-color: transparent;
	-webkit-transform: translate3d(0,0,0);
}

.suiteUiCommonsProcessFlowHeaderIconFill {
	fill: @sapUiGroupContentBackground;
	stroke: @sapUiContentForegroundBorderColor;
}

.suiteUiCommonsProcessFlowHeaderPositiveColor {
	fill: @sapUiPositiveElement;
}

.suiteUiCommonsProcessFlowHeaderNegativeColor {
	fill: @sapUiNegativeElement;
}

.suiteUiCommonsProcessFlowHeaderNeutralColor {
	fill: lighten(desaturate(@sapUiNeutralElement, 30), 10);
}

.suiteUiCommonsProcessFlowHeaderCriticalColor {
	fill: lighten(@sapUiCriticalElement, 15);
}

.suiteUiCommonsProcessFlowHeaderPlannedColor {
	fill: @sapUiGroupContentBackground;
}

.suiteUiCommonsProcessFlowHeaderIconFill.suiteUiCommonsProcessFlowHeaderPositiveColor {
	stroke: @sapUiPositiveElement;
	fill: @sapUiGroupContentBackground;
}

.suiteUiCommonsProcessFlowHeaderIconFill.suiteUiCommonsProcessFlowHeaderNegativeColor {
	stroke: @sapUiNegativeElement;
	fill: @sapUiGroupContentBackground;
}

.suiteUiCommonsProcessFlowHeaderIconFill.suiteUiCommonsProcessFlowHeaderNeutralColor {
	stroke: lighten(desaturate(@sapUiNeutralElement, 30), 10);
	fill: @sapUiGroupContentBackground;
}

.suiteUiCommonsProcessFlowHeaderIconFill.suiteUiCommonsProcessFlowHeaderCriticalColor {
	stroke: lighten(@sapUiCriticalElement, 15);
	fill: @sapUiGroupContentBackground;
}

.suiteUiCommonsProcessFlowHeaderIconFill.suiteUiCommonsProcessFlowHeaderPlannedColor {
	stroke: @sapUiGroupContentBackground;
	fill: @sapUiGroupContentBackground;
}
