/* ============================================================ */
/* CSS for sap.suite.ui.commons/ProcessFlowNode.control         */
/* Bluecrystal Theme                                            */
/* ============================================================ */

/* border styles */
.sapSuiteUiCommonsProcessFlowNodeBorderStandard {
	border: 0.0625rem solid @sapUiContentForegroundBorderColor;
}

/* ----- */
/* node0 */
/* ----- */
/* shadow for highlighted*/
.sapSuiteUiCommonsShadowedDivBorderTop,
.sapSuiteUiCommonsShadowedDivFoldedCornerBorderTop {
	top: 0rem;
	height: 0rem;
	min-height: 0rem;
	max-height: 0rem;
	line-height: 0rem;
	box-shadow: 0rem -0.0625rem 0.3125rem 0.125rem fade(@sapUiContentShadowColor, 10%);
}
.sapSuiteUiCommonsShadowedDivBorderRight {
	right: 0rem;
	top: 0rem;
	width: 0rem;
	min-width: 0rem;
	max-width: 0rem;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	line-height: 100%;
	box-shadow: 0.0625rem 0rem 0.3125rem 0.125rem fade(@sapUiContentShadowColor, 10%);
}
.sapSuiteUiCommonsShadowedDivBorderBottom {
	left: 0rem;
	bottom: 0rem;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 0rem;
	min-height: 0rem;
	max-height: 0rem;
	line-height: 0rem;
	box-shadow: 0rem 0.0625rem 0.3125rem 0.125rem fade(@sapUiContentShadowColor, 10%);
}
.sapSuiteUiCommonsShadowedDivBorderLeft,
.sapSuiteUiCommonsShadowedDivFoldedCornerBorderLeft {
	left: 0rem;
	width: 0rem;
	min-width: 0rem;
	max-width: 0rem;
	box-shadow: -0.0625rem 0rem 0.3125rem 0.125rem fade(@sapUiContentShadowColor, 10%);
}
.sapSuiteUiCommonsShadowedDivFoldedCorner,
.sapSuiteUiCommonsShadowedDivFoldedCornerSafari {
	position: absolute;
	border: none;
	height: 0rem;
	min-height: 0rem;
	max-height: 0rem;
	line-height: 0rem;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.sapSuiteUiCommonsShadowedDivCommon {
	position: absolute;
	border: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .sapSuiteUiCommonsShadowedDivBorderTop  {
	left: 0rem;
	width: 11rem;
	min-width: 11rem;
	max-width: 11rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .sapSuiteUiCommonsShadowedDivFoldedCornerBorderTop  {
	left: 1rem;
	width: 10rem;
	min-width: 10rem;
	max-width: 10rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .sapSuiteUiCommonsShadowedDivBorderLeft  {
	top: 0rem;
	height: 13.8125rem;
	min-height: 13.8125rem;
	max-height: 13.8125rem;
	line-height: 13.8125rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .sapSuiteUiCommonsShadowedDivFoldedCornerBorderLeft  {
	top: 1rem;
	height: 12.8125rem;
	min-height: 12.8125rem;
	max-height: 12.8125rem;
	line-height: 12.8125rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .sapSuiteUiCommonsShadowedDivFoldedCorner  {
	left: -0.18125rem;
	top: 0.45rem;
	width: 1.2375rem;
	min-width: 1.2375rem;
	max-width: 1.2375rem;
	box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiContentShadowColor, 10%);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .sapSuiteUiCommonsShadowedDivFoldedCornerSafari  {
	left: -0.18125rem;
	top: 0.5rem;
	width: 1.25rem;
	min-width: 1.25rem;
	max-width: 1.25rem;
	box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiContentShadowColor, 10%);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .sapSuiteUiCommonsShadowedDivBorderTop  {
	left: 0rem;
	width: 9rem;
	min-width: 9rem;
	max-width: 9rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .sapSuiteUiCommonsShadowedDivFoldedCornerBorderTop  {
	left: 1rem;
	width: 8rem;
	min-width: 8rem;
	max-width: 8rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .sapSuiteUiCommonsShadowedDivBorderLeft  {
	top: 0rem;
	height: 12.1875rem;
	min-height: 12.1875rem;
	max-height: 12.1875rem;
	line-height: 12.1875rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .sapSuiteUiCommonsShadowedDivFoldedCornerBorderLeft  {
	top: 1rem;
	height: 11.1875rem;
	min-height: 11.1875rem;
	max-height: 11.1875rem;
	line-height: 11.1875rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .sapSuiteUiCommonsShadowedDivFoldedCorner  {
	left: -0.18125rem;
	top: 0.45rem;
	width: 1.2375rem;
	min-width: 1.2375rem;
	max-width: 1.2375rem;
	box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiContentShadowColor, 10%);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .sapSuiteUiCommonsShadowedDivFoldedCornerSafari  {
	left: -0.18125rem;
	top: 0.5rem;
	width: 1.25rem;
	min-width: 1.25rem;
	max-width: 1.25rem;
	box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiContentShadowColor, 10%);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .sapSuiteUiCommonsShadowedDivBorderTop  {
	left: 0rem;
	width: 6.5rem;
	min-width: 6.5rem;
	max-width: 6.5rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .sapSuiteUiCommonsShadowedDivFoldedCornerBorderTop  {
	left: 0.75rem;
	width: 5.75rem;
	min-width: 5.75rem;
	max-width: 5.75rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .sapSuiteUiCommonsShadowedDivBorderLeft  {
	top: 0rem;
	height: 8rem;
	min-height: 8rem;
	max-height: 8rem;
	line-height: 8rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .sapSuiteUiCommonsShadowedDivFoldedCornerBorderLeft  {
	top: 0.75rem;
	height: 7.25rem;
	min-height: 7.25rem;
	max-height: 7.25rem;
	line-height: 7.25rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .sapSuiteUiCommonsShadowedDivFoldedCorner {
	left: -0.13125rem;
	top: 0.325rem;
	width: 0.89375rem;
	min-width: 0.89375rem;
	max-width: 0.89375rem;
	box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiContentShadowColor, 10%);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .sapSuiteUiCommonsShadowedDivFoldedCornerSafari  {
	left: -0.125rem;
	top: 0.375rem;
	width: 0.9375rem;
	min-width: 0.9375rem;
	max-width: 0.9375rem;
	box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiContentShadowColor, 20%);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .sapSuiteUiCommonsShadowedDivBorderTop  {
	left: 0rem;
	width: 3rem;
	min-width: 3rem;
	max-width: 3rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .sapSuiteUiCommonsShadowedDivFoldedCornerBorderTop  {
	left: 0.75rem;
	width: 2.25rem;
	min-width: 2.25rem;
	max-width: 2.25rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .sapSuiteUiCommonsShadowedDivBorderLeft  {
	top: 0rem;
	height: 3.75rem;
	min-height: 3.75rem;
	max-height: 3.75rem;
	line-height: 3.75rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .sapSuiteUiCommonsShadowedDivFoldedCornerBorderLeft  {
	top: 0.75rem;
	height: 3rem;
	min-height: 3rem;
	max-height: 3rem;
	line-height: 3rem;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .sapSuiteUiCommonsShadowedDivFoldedCorner {
	left: -0.13125rem;
	top: 0.325rem;
	width: 0.89375rem;
	min-width: 0.89375rem;
	max-width: 0.89375rem;
	box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiContentShadowColor, 10%);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .sapSuiteUiCommonsShadowedDivFoldedCornerSafari {
	left: -0.125rem;
	top: 0.375rem;
	width: 0.9375rem;
	min-width: 0.9375rem;
	max-width: 0.9375rem;
	box-shadow: 0rem 0rem 0.3125rem 0.125rem fade(@sapUiContentShadowColor, 20%);
}

/* Title */
.sapSuiteUiCommonsProcessFlowNodeStatePlanned > .sapSuiteUiCommonsProcessFlowNode3Title > .sapSuiteUiCommonsProcessFlowNode3Title > .sapMText,
.sapSuiteUiCommonsProcessFlowNodeStatePlanned > .sapSuiteUiCommonsProcessFlowNode3Title > .sapSuiteUiCommonsProcessFlowNode3Title > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNodeStatePlanned > .sapSuiteUiCommonsProcessFlowNode3Title > .sapSuiteUiCommonsProcessFlowNode3Title > .sapMTextMaxWidth {
	color: @sapUiContentLabelColor;
}
.sapSuiteUiCommonsProcessFlowNode3TitleClickable,
.sapSuiteUiCommonsProcessFlowNode3TitleClickable > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TitleClickable > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TitleClickable > .sapMTextMaxWidth {
	color: @sapUiLinkActive;
}
.sapSuiteUiCommonsProcessFlowNode3TitleClickable:hover,
.sapSuiteUiCommonsProcessFlowNode3TitleClickable:hover > .sapMTextMaxLine {
	color: @sapUiLinkActive;
	text-decoration: underline;
}

/* node content states */
.sapSuiteUiCommonsProcessFlowNodeStateCritical .sapMText {
	color: lighten(@sapUiCriticalText, 15);
}
.sapSuiteUiCommonsProcessFlowNodeStateCritical.sapSuiteUiCommonsProcessFlowNode3StateIcon {
	color: lighten(@sapUiCriticalElement, 15);
}
.sapSuiteUiCommonsProcessFlowFoldedCornerPlanned {
	color: @sapUiContentForegroundBorderColor;
}

/* node display states */
.sapSuiteUiCommonsProcessFlowNodeDisplayStateRegular {
	background-color: @sapUiGroupContentBackground;
	border-color: @sapUiContentForegroundBorderColor;
}
.sapSuiteUiCommonsProcessFlowNodeDisplayStateDimmed {
	background-color: @sapUiGroupContentBackground;
	border-color: @sapUiContentForegroundBorderColor;
	opacity: 0.5;
}
.sapSuiteUiCommonsProcessFlowNodeDisplayStateRegular.sapSuiteUiCommonsProcessFlowNodeStatePlanned,
.sapSuiteUiCommonsProcessFlowNodeDisplayStateHighlighted.sapSuiteUiCommonsProcessFlowNodeStatePlanned {
	background-color: fade(@sapUiGroupContentBackground, 30%);
	border-color: @sapUiContentForegroundBorderColor;
}

.sapSuiteUiCommonsProcessFlowNode3StateIcon.sapSuiteUiCommonsProcessFlowNodeStatePlanned,
.sapSuiteUiCommonsProcessFlowNode3StateText.sapSuiteUiCommonsProcessFlowNodeStatePlanned {
	background-color: transparent !important;
}
.sapSuiteUiCommonsProcessFlowNodeStatePlanned.sapSuiteUiCommonsProcessFlowNodeDisplayStateDimmed{
	background-color: fade(@sapUiGroupContentBackground, 30%);
	border-color: @sapUiContentForegroundBorderColor;
	opacity: 0.5;
}
.sapSuiteUiCommonsProcessFlowNode1.sapSuiteUiCommonsProcessFlowNodeDisplayStateHighlighted,
.sapSuiteUiCommonsProcessFlowNode2.sapSuiteUiCommonsProcessFlowNodeDisplayStateHighlighted,
.sapSuiteUiCommonsProcessFlowNode3.sapSuiteUiCommonsProcessFlowNodeDisplayStateHighlighted {
	background-color: @sapUiGroupContentBackground;
	border-color: @sapUiContentForegroundBorderColor;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateRegular {
	color: @sapUiContentForegroundBorderColor;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateDimmed {
	opacity: 0.5;
	color: @sapUiContentForegroundBorderColor;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateHighlighted {
	color: @sapUiContentForegroundBorderColor;
}
.sapSuiteUiCommonsProcessFlowNodeDisplayStateFocused {
	border-color: @sapUiHighlight !important;
}
html.sap-desktop .sapSuiteUiCommonsProcessFlowNode0.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateNavigation {
	outline-style: dotted !important;
	outline-color: @sapUiFocus !important;
	outline-width: 0.0625rem !important;
	outline-offset: 0.0625rem !important;
}

.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateFocused {
	color: @sapUiHighlight !important;
}
.sapSuiteUiCommonsProcessFlowNodeStatePlannedDashedBorder {
	border-width: 0.0625rem;
	border-style: dashed;
}

/* special effects  */
.sapSuiteUiCommonsProcessFlowFoldedCornerNodeHover {
	background-color: transparent;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerNodeIconHover {
	background-color: transparent;
	color: @sapUiContentForegroundBorderColor;
}
.sapSuiteUiCommonsProcessFlowNodeHover,
.sapSuiteUiCommonsProcessFlowFoldedCornerIndication.sapSuiteUiCommonsProcessFlowNodeHover.sapSuiteUiCommonsProcessFlowNodeDisplayStateHighlighted.sapSuiteUiCommonsProcessFlowNodeStatePlanned,
.sapSuiteUiCommonsProcessFlowNodeHover.sapSuiteUiCommonsProcessFlowNodeStatePlanned {
	border-color: @sapUiContentForegroundBorderColor !important;
	background-color: contrast(@sapUiGroupContentBackground, darken(@sapUiGroupContentBackground,3)) !important;
}

.sapSuiteUiCommonsProcessFlowFoldedCornerNodeActive {
	background-color: transparent;
	color: @sapUiGroupContentBackground;
}
.sapSuiteUiCommonsProcessFlowNodeActive {
	border-color: @sapUiHighlight !important;
	background-color: @sapUiHighlight !important;
	color: @sapUiGroupContentBackground !important;
}

/* Aggretated Nodes */
.sapSuiteUiCommonsProcessFlowNodeAggregated {
	box-shadow: 0.25rem 0rem 0rem -0.125rem @sapUiWhite, 0.375rem 0rem 0rem -0.1875rem @sapUiContentForegroundBorderColor, 0.625rem 0rem 0rem -0.3125rem @sapUiWhite, 0.75rem 0rem 0rem -0.375rem @sapUiContentForegroundBorderColor;
}
.sapSuiteUiCommonsProcessFlowNodeAggregatedZoomLevel4 {
	box-shadow: 0.125rem 0rem 0rem -0.0625rem @sapUiWhite, 0.1875rem 0rem 0rem -0.0625rem @sapUiContentForegroundBorderColor, 0.3125rem 0rem 0rem -0.125rem @sapUiWhite, 0.375rem 0rem 0rem -0.125rem @sapUiContentForegroundBorderColor;
}
.sapSuiteUiCommonsProcessFlowNodeAggregatedHovered {
	box-shadow: 0.25rem 0rem 0rem -0.125rem @sapUiWhite, 0.375rem 0rem 0rem -0.1875rem @sapUiContentForegroundBorderColor, 0.625rem 0rem 0rem -0.3125rem @sapUiWhite, 0.75rem 0rem 0rem -0.375rem @sapUiContentForegroundBorderColor !important;
}
.sapSuiteUiCommonsProcessFlowNodeAggregatedHoveredZoomLevel4 {
	box-shadow: 0.125rem 0rem 0rem -0.0625rem @sapUiWhite, 0.1875rem 0rem 0rem -0.0625rem @sapUiContentForegroundBorderColor, 0.3125rem 0rem 0rem -0.125rem @sapUiWhite, 0.375rem 0rem 0rem -0.125rem @sapUiContentForegroundBorderColor !important;
}
.sapSuiteUiCommonsProcessFlowNodeAggregatedFocused, .sapSuiteUiCommonsProcessFlowNodeAggregatedPressed {
	box-shadow: 0.25rem 0rem 0rem -0.125rem @sapUiWhite, 0.375rem 0rem 0rem -0.1875rem @sapUiHighlight, 0.625rem 0rem 0rem -0.3125rem @sapUiWhite, 0.75rem 0rem 0rem -0.375rem @sapUiHighlight;
}
.sapSuiteUiCommonsProcessFlowNodeAggregatedFocusedZoomLevel4, .sapSuiteUiCommonsProcessFlowNodeAggregatedPressedZoomLevel4 {
	box-shadow: 0.125rem 0rem 0rem -0.0625rem @sapUiWhite, 0.1875rem 0rem 0rem -0.0625rem @sapUiHighlight, 0.3125rem 0rem 0rem -0.125rem @sapUiWhite, 0.375rem 0rem 0rem -0.125rem @sapUiHighlight;
}
.sapSuiteUiCommonsProcessFlowNodeAggregatedDimmed {
	box-shadow: 0.25rem 0rem 0rem -0.125rem darken(@sapUiGroupContentBackground,3), 0.375rem 0rem 0rem -0.1875rem @sapUiContentForegroundBorderColor, 0.625rem 0rem 0rem -0.3125rem darken(@sapUiGroupContentBackground,3), 0.75rem 0rem 0rem -0.375rem @sapUiContentForegroundBorderColor;
}
.sapSuiteUiCommonsProcessFlowNodeAggregatedDimmedZoomLevel4 {
	box-shadow: 0.125rem 0rem 0rem -0.0625rem darken(@sapUiGroupContentBackground,3), 0.1875rem 0rem 0rem -0.0625rem @sapUiContentForegroundBorderColor, 0.3125rem 0rem 0rem -0.125rem darken(@sapUiGroupContentBackground,3), 0.375rem 0rem 0rem -0.125rem @sapUiContentForegroundBorderColor;
}
.sapSuiteUiCommonsProcessFlowNodeAggregatedDimmedPressed {
	box-shadow: 0.25rem 0rem 0rem -0.125rem darken(@sapUiGroupContentBackground,6), 0.375rem 0rem 0rem -0.1875rem @sapUiHighlight, 0.625rem 0rem 0rem -0.3125rem darken(@sapUiGroupContentBackground,6), 0.75rem 0rem 0rem -0.375rem @sapUiHighlight;
}
.sapSuiteUiCommonsProcessFlowNodeAggregatedDimmedPressedZoomLevel4 {
	box-shadow: 0.125rem 0rem 0rem -0.0625rem darken(@sapUiGroupContentBackground,6), 0.1875rem 0rem 0rem -0.0625rem @sapUiHighlight, 0.3125rem 0rem 0rem -0.125rem darken(@sapUiGroupContentBackground,6), 0.375rem 0rem 0rem -0.125rem @sapUiHighlight;
}
.sapSuiteUiCommonsProcessFlowNodeAggregatedDimmedHovered {
	box-shadow: 0.25rem 0rem 0rem -0.125rem darken(@sapUiGroupContentBackground,6), 0.375rem 0rem 0rem -0.1875rem @sapUiContentForegroundBorderColor, 0.625rem 0rem 0rem -0.3125rem darken(@sapUiGroupContentBackground,6), 0.75rem 0rem 0rem -0.375rem @sapUiContentForegroundBorderColor;
}
.sapSuiteUiCommonsProcessFlowNodeAggregatedDimmedHoveredZoomLevel4 {
	box-shadow: 0.125rem 0rem 0rem -0.0625rem darken(@sapUiGroupContentBackground,6), 0.1875rem 0rem 0rem -0.0625rem @sapUiContentForegroundBorderColor, 0.3125rem 0rem 0rem -0.125rem darken(@sapUiGroupContentBackground,6), 0.375rem 0rem 0rem -0.125rem @sapUiContentForegroundBorderColor;
}
