.sap-desktop .sapSuiteUti .sapMBar.sapMPageHeader {
	background: @sapUiLightestBG;
}

/* makes white background */
.sap-desktop .sapSuiteUti .sapMBar.sapMPageHeader {
	background: @sapUiWhite;
	border-top: 1px solid @sapUiExtraLightBorder;
	border-bottom: 1px solid @sapUiExtraLightBorder;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=white, endColorstr=white, GradientType=0);
}

.sapSuiteUti .sapSuiteKTileStatusNeutral,
.sapSuiteUti .sapSuiteKTileDesc {
	color: @sapUiLightText
}

.sapSuiteUtiFacetGrid > .sapUiRespGridSpanL6 {
	border: none;
}