/* ============================================= */
/* CSS for control sap.suite.ui.commons/HeaderContainer.control */
/* ============================================= */

.sapSuiteHdrCntrBtn.sapMBtn {
	background-color: transparent;
}
.sapSuiteHdrCntrBtn .sapMBtnIcon {
	color: @sapHCStandardFG;
	font-size: 22px;
}

.sap-desktop .sapSuiteHrdrCntrInner:focus {
	outline-color: @sapHCStandardFG;
	outline-style: dotted;
	outline-width: 0.065rem;
}

.sapSuiteHrdrCntrInner:focus:not ([tabindex]) {
	outline: none;
}

.sapSuiteHdrCntrBGTransparent {
	background-color: @sapHCStandardBG;
}

.sapSuiteHdrCntrBGSolid {
	background-color: @sapHCStandardBG;
}

.sapSuiteHdrCntrBGTranslucent {
	background-color: @sapHCStandardBG;
}
