/* ================================================================== */
/* CSS for sap_hcb theme of sap.suite.ui.commons/TargetFilter.control */
/* ================================================================== */

.sapSuiteUiTF {
	font-family: @sapUiFontFamily;
	font-weight: normal;
	color: @sapHCStandardFG;
}

.sapSuiteUiTFOuterCircle {
	border: .1875rem solid @sapHCStandardFG;
	background-color: @sapHCStandardBG;
	box-shadow: 0 0.250rem 0.375rem 0 fade(@sapUiShadowTint, 15%);
}

.sapSuiteUiTFCentralCircle {
	border: .1875rem solid @sapHCStandardFG;
	background-color: @sapHCStandardBG;
}

.sapSuiteUiTFVerticalLine {
	background-color: @sapHCStandardFG;
}

.sapSuiteUiTFHorizontalLine {
	background-color: @sapHCStandardFG;
}

.sapSuiteUiTFRightPanel .sapSuiteUiTFShowSelLbl {
	color: @sapHCStandardFG;
}

.sapSuiteUiTFScroll {
	background-color: @sapHCStandardBG;
	color: @sapHCStandardFG;
	border: .0625rem solid @sapHCStandardFG;
}

.sapSuiteUiTFBox.Quad2, .sapSuiteUiTFBox.Quad3 {
	top: -.2rem;
}

.sapSuiteUiTFPopoverText {
	font-size: @sapMFontLargeSize;
	color: @sapHCStandardFG;
}

.sapSuiteUiTFPopoverTextEntries {
	font-size: @sapMFontMediumSize;
	color: @sapHCStandardFG;
}
