.sapSuiteHdrCntrBtn > .sapMBtnInner {
	border: none;
}

.sapSuiteHdrCntrBGTransparent {
	background-color: transparent;
}

.sapSuiteHdrCntrBGSolid {
	background-color: @sapUiGroupContentBackground;
}

.sapSuiteHdrCntrBGTranslucent {
	background-color: fade(@sapUiGroupContentBackground, 60%);
}