/* ======================================================================= */
/* CSS for sap.suite.ui.commons/ProcessFlowConnection.control              */
/* Bluecrystal Theme                                                       */
/* ======================================================================= */

.sapSuiteUiCommonsBorderLeftStateRegular {
	border-left-color: darken(@sapUiGroupContentBorderColor, 27);
}
.sapSuiteUiCommonsBorderLeftStateHighlighted {
	border-left-color: @sapUiHighlight;
}
.sapSuiteUiCommonsBorderLeftStateDimmed {
	border-left-color: darken(@sapUiGroupContentBorderColor, 5);
}
.sapSuiteUiCommonsBorderLeftStateSelected {
	border-left-color: darken(@sapUiGroupContentBorderColor, 43);
}
.sapSuiteUiCommonsBorderBottomStateRegular {
	border-bottom-color: darken(@sapUiGroupContentBorderColor, 27);
}
.sapSuiteUiCommonsBorderBottomStateHighlighted {
	border-bottom-color: @sapUiHighlight;
}
.sapSuiteUiCommonsBorderBottomStateDimmed {
	border-bottom-color: darken(@sapUiGroupContentBorderColor, 5);
}
.sapSuiteUiCommonsBorderBottomStateSelected {
	border-bottom-color: darken(@sapUiGroupContentBorderColor, 43);
}
.sapSuiteUiCommonsStateRegular {
	opacity: 0.8;
}
.sapSuiteUiCommonsStateHighlighted {
	opacity: 1;
}
.sapSuiteUiCommonsStateSelected {
	opacity: 1;
}
.sapSuiteUiCommonsStateDimmed {
	opacity: 0.5;
}
