/* ========================================================================== */
/* CSS for sap_bluecrystal theme of sap.suite.ui.commons/TargetFilter.control */
/* ========================================================================== */

.sapSuiteUiTF {
	font-family: @sapUiFontFamily;
	font-weight: normal;
	color: #00679e;
}

.sapSuiteUiTFOuterCircle {
	border: .1875rem solid @sapUiLightestBorder;
	background-color: @sapUiNeutralBG;
	box-shadow: 0 0.250rem 0.375rem 0 fade(@sapUiShadowTint, 15%);
}

.sapSuiteUiTFCentralCircle {
	border: .1875rem solid #69b0dc;
	background-color: white;
	box-shadow: 0 0 0 0.1875rem white;
}

.sapSuiteUiTFVerticalLine {
	border: .1875rem solid white;
	background-color: #69b0dc;
}

.sapSuiteUiTFParCont .sapMInputBaseInner {
	border: none;
}

.sapSuiteUiTFValHel .sapMBtnIcon {
	background-color: white;
}

.sapSuiteUiTFValHel .sapMBtnInner {
	border: none;
}

.sapSuiteUiTFRightPanel .sapSuiteUiTFShowSelLbl {
	color: #00679e;
}

.sapSuiteUiTFScroll {
	background-color: @sapUiLightestBG;
	color: @sapUiStandardText;
	border: 1px solid @sapUiMediumBorder;
}

.sapSuiteUiTFHorizontalLineBg {
	background-color: white;
}

.sapSuiteUiTFHorizontalLine.Quad0 {
	border-color: white transparent #69b0dc #69b0dc;
}

.sapSuiteUiTFHorizontalLine.Quad1 {
	border-color: white #69b0dc #69b0dc transparent;
}

.sapSuiteUiTFHorizontalLine.Quad2 {
	border-color: #69b0dc #69b0dc white transparent;
}

.sapSuiteUiTFHorizontalLine.Quad3 {
	border-color: #69b0dc transparent white #69b0dc;
}
