/* =============================================================== */
/* CSS for control "sap.ushell.ui.launchpad.PlusTile" (sap_belize) */
/* =============================================================== */

.sapUshellTile.sapUshellPlusTile {
  background-color: transparent;
  border: 1px solid fade(@sapUiShellTextColor, 20);

  &:hover {
    background-color: fade(@sapUiShellTextColor, 4);
  }

  &:active {
    background-color: fade(@sapUiShellTextColor, 8);
  }

  .sapUiIcon {
    color: @sapUiShellTextColor;
    font-size: 1.375rem;
  }
}
