/* ================================================================ */
/* CSS for control "sap.ushell.ui.launchpad.Tile"                   */
/* ================================================================ */
@_sap_ushell_Tile_Spacing: 1rem;
@_sap_ushell_Tile_SpacingXS: 0.475rem;
@_sap_ushell_Tile_SpacingS: 0.475rem;
@_sap_ushell_Tile_Spacing: 1rem;
@_sap_ushell_Tile_WidthXS: 4.375rem;
@_sap_ushell_Tile_WidthS: 5.25rem;
@_sap_ushell_Tile_Width: 5rem;

.sapUshellTile:focus::after {
  border: 2px dotted @sapUiContentFocusColor;
}

.sapUshellTileFooterInfoNegative {
  color: @sapUiNegativeElement;
}

.sapUshellTileFooterInfoNeutral {
  color: @sapUiNeutralElement
}

.sapUshellTileFooterInfoPositive {
  color: @sapUiPositiveElement
}

.sapUshellTileFooterInfoCritical {
  color: @sapUiCriticalElement;
}
