/* ============================================= */
/* CSS for control sap.suite.ui.commons/DateRangeScroller.control */
/* ============================================= */

.sapSuiteUiCommonsDateRangeScroller {
	font-size: 22px;
}

.sapSuiteUiCommonsDateRangeScrollerDecBtnArrow {
	background-image: url(img/arrow_left.png);
}

.sapSuiteUiCommonsDateRangeScrollerIncBtnArrow:hover {
	background-image: url(img/arrow_right_hover.png);
	background-color: @sapUiHighlight;
}

.sapSuiteUiCommonsDateRangeScrollerIncBtnArrow {
	background-image: url(img/arrow_right.png);
}

.sapSuiteUiCommonsDateRangeScrollerDecBtnArrow:hover {
	background-image: url(img/arrow_left_hover.png);
	background-color: @sapUiHighlight;
}
