
/* ============================================= */
/* CSS for control sap.suite.ui.commons/NoteTaker.control */
/* HCB theme */
/* ============================================= */

.sapSuiteUiCommonsNoteTaker{
	border: 1px solid white;
}

.sapSuiteUiCommonsNoteTaker .sapSuiteUiCommonsNoteTakerFilterPane {
	background-color: black;
	border-bottom: 1px solid white;
	color: white;
}

.sapSuiteUiCommonsNoteTaker>.sapSuiteUiCommonsNoteTakerFilterPane .sapSuiteUiCommonsNoteTakerFilterButtonSelected {
	background-color: white;
}

.sapUiCrslHorizontal .sapUiCrslCnt {
	top: -4px;
}

.sapSuiteUiCommonsNoteTakerFilterThumbDownButton {
	background-image: url(img/thumbDown_24.png);
	background-position: left bottom;
}

.sapSuiteUiCommonsNoteTakerCardThumbDown {
	background-image: url(img/thumbDown_24.png);
}

.sapSuiteUiCommonsNoteTakerFilterThumbUpButton {
	background-image: url(img/thumbUp_24.png);
}

.sapSuiteUiCommonsNoteTakerFilterTagButton {
	background-image: url(img/tag_24.png);
}

.sapSuiteUiCommonsNoteTakerSearchBtn {
	background-image: url(img/search_24.png);
	background-position: center;
}

.sapSuiteUiCommonsNoteTakerHomeButton {
	background-image: url(img/home_24.png);
	background-position: left bottom;
}
