/* This CSS inherits rules from default/shared.css */
.sapSuiteUiCommonsNoteTakerThumbUpBtn {
	background-image: url(img/thumbUp_24.png);
}

.sapSuiteUiCommonsNtAttachIcon {
	background-image: url(img/attachment_24.png);
	background-position: center center;
}

.sapSuiteUiCommonsNtDsblAttachIcon {
	background-image: url(img/attachment_24.png);
	background-position: center center;
}
