
/*...........................................................................*/
/* LESS for control sap.ui.vbm/VBI.control...................................*/
/*...........................................................................*/

.vbi-legend {
	box-shadow: @sapHCStandardFG 0rem 0rem 0.9rem 0.0625rem;
	font-family: @sapUiFontFamily; /* Fallback for Step 1 */
	background-color: @sapHCStandardBG;
	color: @sapHCStandardFG;
}

.vbi-legend > .vbi-legend-header
{
   /* font definition of the callout header..................................*/
   font-size: @sapMFontMediumSize;
}

.vbi-legend-button-col:hover
{
	background-color: @sapHCHighlightBG;
}
.vbi-legend-button-col:active
{
	background-color: @sapHCHighlightBG;
}

.vbi-legend-button-exp:hover
{
	background-color: @sapHCHighlightBG;
}
.vbi-legend-button-exp:active
{
	background-color: @sapHCHighlightBG;
}

.vbi-legend-table
{
	font-size: @sapMFontSmallSize;
}

.vbi-legend-table-click
{
	tr:hover {
		background-color: @sapHCHighlightBG;
	};
	tr:active {
		background-color: @sapHCHighlightBG;
	};
}

.vbi-legend-content-celltext
{
	color: @sapUiChartLegendLabelFontColor;
}

.vbi-legend-content-celldiv-square
{
	border-color: @sapHCStandardFG;
}

.vbi-copyright
{
	color:  white;
	background-color: rgba(0,0,0,0.45);
	background: -moz-linear-gradient(right,rgba(0,0,0,0.45),rgba(0,0,0,0.45) 80%,rgba(0,0,0,0)); /* Firefox */
	background: -webkit-linear-gradient(right,rgba(0,0,0,0.45),rgba(0,0,0,0.45) 80%,rgba(0,0,0,0));	/* Chrome, Safari */
	background: -ms-linear-gradient(right,rgba(0,0,0,0.45),rgba(0,0,0,0.45) 80%,rgba(0,0,0,0));
	z-index: 4;
	a[href]
	{
		color: #436976;
	}
}

.vbi-detail {
	background-color: @sapHCStandardBG;
}

.vbi-detail-closebutton
{
	background-color: @sapHCStandardBG;
}

.vbi-detail-content
{
	background-color: @sapHCStandardBG;
}

.vbi-detail-phone
{
	background-color: @sapHCStandardBG;
}

.vbi-detail > .vbi-detail-arrow.vbi-detail-left
{
	border-right-color: @sapHCStandardBG;
}