/* ============================================= */
/* CSS for control sap.suite.ui.commons/DateRangeScroller.control */
/* ============================================= */


.sapSuiteUiCommonsDateRangeScrollerLabel {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
}

.sapSuiteUiCommonsDateRangeScrollerScrollBtn {
	display: inline-block;
	text-indent: -99999px;
	background-repeat: no-repeat;
	height: 22px;
	width: 22px;
	background-position: 3px 3px;
}
