.sapUshellGT {
  &:hover, &:active {
    box-shadow: 0 0 0 2px @sapUiContentShadowColor;
  }
  box-shadow: none;
  background: @sapUiHcStandardForeground;
  position: relative;
}

.sapUshellOverlay {
  background-color: @sapUiBaseBG;
}

.sapUshellTileStateFtrFldTxt {
  font-weight: normal;
  font-family: @sapUiFontFamily;
  font-size: @sapMFontMediumSize;
  color:@sapUiHcStandardForeground;
}
