/*****************/

/*** Pie Chart ***/

/*****************/

g.sap-piechart path {
    fill: black;
    stroke: white !important;
    outline: none;
}

g.sap-piechart text.labelshadow {
    stroke: black;
    stroke-width: 0.5rem;
}
