/* ============================================================ */
/* CSS for control sap.suite.ui.microchart/ComparisonMicroChart */
/* High Contrast Black Theme                                    */
/* ============================================================ */

.sapSuiteCpMCChartItemTitle {
	color: @sapHCStandardFG;
}

.sapSuiteCpMCChartBar > div {
	height: 0.25rem;
}

.sapSuiteCpMCChartBar.sapSuiteCpMCViewTypeNormal.sapSuiteCpMCSizeS > div,
.sapSuiteCpMCChartBar.sapSuiteCpMCViewTypeNormal.sapSuiteCpMCSizeXS > div,
.sapSuiteCpMCChartBar.sapSuiteCpMCViewTypeNormal.sapSuiteCpMCResponsive > div {
	height: 0.25rem;
}

.sapSuiteCpMCNegPosNoValue {
	border-left: none;
}

.sapSuiteCpMCNotLastBarPart {
	border-right: 2px solid @sapUiFieldBackground;
}

.sapSuiteCpMCNotFirstBarPart {
	border-left: 2px solid @sapUiFieldBackground;
}