/* ============================================================ */
/* CSS for control sap.suite.ui.microchart/HarveyBallMicroChart */
/* High Contrast Black Theme                                    */
/* ============================================================ */

.sapSuiteHBMCBackgroundCircle {
	stroke: @sapHCStandardFG;
	stroke-width: 1.5;
	fill: @sapHCStandardBG;
}

.sapSuiteHBMCSegment {
	stroke: @sapHCStandardFG;
}
