
.vbi-detail {
	background-color: @sapUiBaseBG;
}

.vbi-detail-closebutton
{
	background-color: @sapUiBaseBG;
}

.vbi-detail-content
{
	background-color: @sapUiBaseBG;
}

.vbi-detail-phone
{
	background-color: @sapUiBaseBG;
}

.vbi-detail > .vbi-detail-arrow.vbi-detail-left
{
	border-right-color: @sapUiBaseBG;
}

.vbi-detail > .vbi-detail-header
{
   font-size: @sapUiFontHeader4Size;
   font-family: @sapUiFontHeaderFamily;
   font-weight: @sapUiFontHeaderWeight;
   color: @sapTextColor; 
}

.vbi-detail-header-phone
{
   font-family: @sapUiFontHeaderFamily;
   font-weight: @sapUiFontHeaderWeight;
   color: @sapTextColor;
}

.vbi-legend {
	box-shadow: lighten(@sapUiContentForegroundColor, 20%) 0rem 0rem 0.9rem 0.0625rem;
	font-family: @sapUiFontFamily;
	background-color: @sapUiBaseBG;
	color: @sapTextColor;
}

.vbi-legend > .vbi-legend-header
{
   font-size: @sapMFontMediumSize;
}

.vbi-legend-button-col:hover
{
	background-color: @sapUiHighlight;
}

.vbi-legend-button-col:active
{
	background-color: darken(@sapUiHighlight, 20%);
}

.vbi-legend-button-exp:hover
{
	background-color: @sapUiHighlight;
}

.vbi-legend-button-exp:active
{
	background-color: darken(@sapUiHighlight, 20%);
}

.vbi-legend-table
{
	font-size: @sapMFontSmallSize;
}

.vbi-legend-table-click
{
	tr:hover {
		background-color: @sapUiHighlight;
	};
	tr:active {
		background-color: darken(@sapUiHighlight, 20%);
	};
}

.vbi-legend-content-celltext
{
	color: @sapUiChartLegendLabelFontColor;
}

.vbi-legend-content-celldiv-square
{
	border-color: @sapUiContentForegroundColor;
}
