.sapUshellSearchFacetFilter {
    .sapUshellSearchFacetTabBar .sapMLIB.sapMLIBSelected {
        &:not(:hover) {
            background: transparent;
            border-bottom-color: transparent;
        }
        .sapMSLITitleOnly {
            font-weight: bold;
        }
    }
}

.sapUshellSearchFacet .sapMListShowSeparatorsNone .sapMSLIInfoNone {
    color: @sapUiContentMarkerTextColor;
}

.sapUshellSearchFacet .sapMLIB.sapMLIBSelected:hover {
    border-bottom: 1px solid transparent;
    background: #f5f5f5;
}
