.sapUshellSearchFacetIconTabBar .sapSuiteCpMCChartBarNoValue,
.searchFacetLargeChartContainer .sapSuiteCpMCChartBarNoValue {
    background-color: lighten(@sapUiChartPaletteSequentialNeutral, 40);
    border: none;
}

.sapUshellSearchFacetIconTabBar .sapSuiteCpMCChartBarValue.sapSuiteCpMCSemanticColorNeutral,
.searchFacetLargeChartContainer .sapSuiteCpMCChartBarValue.sapSuiteCpMCSemanticColorNeutral {
    background-color: @sapUiChartPaletteSequentialHue1Light2;
}

.sapUshellSearchFacetIconTabBar .sapSuiteCpMCChartBarValue.sapSuiteCpMCSemanticColorGood,
.searchFacetLargeChartContainer .sapSuiteCpMCChartBarValue.sapSuiteCpMCSemanticColorGood {
    background-color: @sapUiChartPaletteSequentialHue1Dark1;
}
