/*!
 * SAP UI development toolkit for HTML5 (SAPUI5)

        (c) Copyright 2009-2015 SAP SE. All rights reserved
    
 */

@import "../../../../../sap/ui/core/themes/base/base.less";
@import "../../../../../sap/ui/core/themes/base/global.less";

@font-face {
	font-family: 'vk-icons';
	src: url('fonts/vk-icons.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@import "Viewer.less";
@import "Viewport.less";
@import "Overlay.less";
@import "NativeViewport.less";
@import "SceneTree.less";
@import "StepNavigation.less";
@import "FlexibleControl.less";
@import "ContainerBase.less";
@import "MapContainer.less";
@import "ListPanelStack.less";
@import "ListPanel.less";
@import "LegendItem.less";
@import "Notifications.less";
@import "RedlineDesign.less";
@import "RedlineSurface.less";
@import "RedlineTool.less";
@import "Tooltip.less";
@import "TransformationTool.less";
@import "SceneOrientationGizmo.less";
@import "ViewGallery.less";
@import "DrawerToolbar.less";
@import "ToggleMenuButton.less";
@import "Annotation.less";
@import "SafeArea.less";
@import "Poi.less";
@import "Hotspot.less";
@import "Measurement.less";
