.sapUiVizKitPoiButtonsContainer {
    position: absolute;
    display: none;
    z-index: 0;
    writing-mode: vertical-rl;
}

.sapUiVizKitPoiButtonEdit {
    >.sapMBtnInner {
        border-radius: 50%;
    }
}

.sapUiVizKitPoiButtonDelete {
    >.sapMBtnInner {
        border-radius: 50%;
    }
}



