.sapUshellSearchFacetFilter {
    .sapUshellSearchFacetTabBar .sapMLIB.sapMLIBSelected {
        &:not(:hover) {
            background: transparent;
            border-bottom-color: transparent;
        }
        .sapMSLITitleOnly {
            font-weight: bold;
        }
    }
}

.sapUshellSearchFacet .sapMListShowSeparatorsNone .sapMSLIInfoNone {
    color: @sapUiContentMarkerTextColor;
}
