/* ========================================= */
/* CSS for sap.suite.ui.commons/NetworkLine  */
/* Evening Horizon theme                     */
/* ========================================= */

.sapSuiteUiCommonsNetworkLines .sapSuiteUiCommonsNetworkElementHighlight .sapSuiteUiCommonsNetworkLinePath,
.sapSuiteUiCommonsNetworkLines .sapSuiteUiCommonsNetworkElementHighlight .sapSuiteUiCommonsNetworkLineArrow,
.sapSuiteUiCommonsNetworkLines .sapSuiteUiCommonsNetworkElementHighlight .sapSuiteUiCommonsNetworkLineNipple {
	stroke-width: 2;
	stroke: @sapPrimary5;
}
.sapSuiteUiCommonsNetworkLines .sapSuiteUiCommonsNetworkElementHighlight .sapSuiteUiCommonsNetworkLineArrow,
.sapSuiteUiCommonsNetworkLines .sapSuiteUiCommonsNetworkElementHighlight .sapSuiteUiCommonsNetworkLineNipple {
	fill: @sapPrimary5;
}

.sapSuiteUiCommonsNetworkElementWarning.sapSuiteUiCommonsNetworkElementHighlight .sapSuiteUiCommonsNetworkLinePath,
.sapSuiteUiCommonsNetworkElementWarning .sapSuiteUiCommonsNetworkLinePath {
	stroke: @sapUiCriticalElement;
}

.sapSuiteUiCommonsNetworkElementWarning.sapSuiteUiCommonsNetworkElementHighlight .sapSuiteUiCommonsNetworkLineArrow,
.sapSuiteUiCommonsNetworkElementWarning .sapSuiteUiCommonsNetworkLineArrow,
.sapSuiteUiCommonsNetworkElementWarning .sapSuiteUiCommonsNetworkLineNipple {
	stroke: @sapUiCriticalElement;
	fill: @sapUiCriticalElement;
}

.sapSuiteUiCommonsNetworkElementError.sapSuiteUiCommonsNetworkElementHighlight .sapSuiteUiCommonsNetworkLinePath,
.sapSuiteUiCommonsNetworkElementError .sapSuiteUiCommonsNetworkLinePath {
	stroke: @sapUiNegativeElement;
}

.sapSuiteUiCommonsNetworkElementError.sapSuiteUiCommonsNetworkElementHighlight .sapSuiteUiCommonsNetworkLineArrow,
.sapSuiteUiCommonsNetworkElementError .sapSuiteUiCommonsNetworkLineArrow,
.sapSuiteUiCommonsNetworkElementError .sapSuiteUiCommonsNetworkLineNipple {
	stroke: @sapUiNegativeElement;
	fill: @sapUiNegativeElement;
}

.sapSuiteUiCommonsNetworkElementSuccess.sapSuiteUiCommonsNetworkElementHighlight .sapSuiteUiCommonsNetworkLinePath,
.sapSuiteUiCommonsNetworkElementSuccess .sapSuiteUiCommonsNetworkLinePath {
	stroke: @sapUiPositiveElement;
}

.sapSuiteUiCommonsNetworkElementSuccess.sapSuiteUiCommonsNetworkElementHighlight .sapSuiteUiCommonsNetworkLineArrow,
.sapSuiteUiCommonsNetworkElementSuccess .sapSuiteUiCommonsNetworkLineArrow,
.sapSuiteUiCommonsNetworkElementSuccess .sapSuiteUiCommonsNetworkLineNipple {
	stroke: @sapUiPositiveElement;
	fill: @sapUiPositiveElement;
}


.sapSuiteUiCommonsNetworkElementInformation.sapSuiteUiCommonsNetworkElementHighlight .sapSuiteUiCommonsNetworkLinePath,
.sapSuiteUiCommonsNetworkElementInformation .sapSuiteUiCommonsNetworkLinePath {
	stroke: @sapUiHighlight;
}

.sapSuiteUiCommonsNetworkElementInformation.sapSuiteUiCommonsNetworkElementHighlight .sapSuiteUiCommonsNetworkLineArrow,
.sapSuiteUiCommonsNetworkElementInformation .sapSuiteUiCommonsNetworkLineArrow,
.sapSuiteUiCommonsNetworkElementInformation .sapSuiteUiCommonsNetworkLineNipple {
	stroke: @sapUiHighlight;
	fill: @sapUiHighlight;
}