#overflowActions-overflowButton .sapMBtnHoverable {
  background-color: transparent;
  border-color: transparent;
}

#overflowActions-overflowButton .sapMToggleBtnPressed .sapMBtnIcon {
  background-color: @sapUiShellActiveBackground;
}
