/* =============================================================== */
/* CSS for control sap.suite.ui.microchart/DeltaMicroChart.control */
/* Bluecrystal Theme                                               */
/* =============================================================== */

.sapSuiteDMC {
	font-family: @sapUiFontHeaderFamily;
	font-weight: @sapUiFontHeaderWeight;
	font-color: @sapUiExtraDarkText;
}
