/* ======================================================================================== */
/* CSS for control "sap.ushell.components.container.ApplicationContainer" (sap_belize_plus) */
/* ======================================================================================== */

.sap-desktop .sapUShellApplicationContainer.sapUshellDefaultBackground {
  background-color: transparent;
}

@media (min-width: 1280px) {
  .sap-desktop .sapUShellApplicationContainer.sapUshellDefaultBackground {
    /* changed to transparent as instructed by Tasev Vladislav on 14/02;
       quote: "Target visual design clearly suggests transparent shell container" */
    background-color: transparent;
  }
}
