/******** fiori search related css styles ********/
/**** Central Style Definitions are located in ***/

/************** ../base/Search.less ***************/

/******** detail ********/

.sapUshellSearchResultListItem {
    border: 1px solid @sapUiListBorderColor;
}

.sapUshellSearchResultListItem-ExpandButton {
    border-left: 1px solid @sapUiListBorderColor;
    box-sizing: border-box;
}

.sapUshellSearchResultListItem-Image {
    border: 0.063rem solid @sapUiListBorderColor;
}
