/* =========================================================================== */
/* CSS for sap.suite.ui.commons/ProcessFlowConnection.control                  */
/* Belize Plus Theme                                                           */
/* =========================================================================== */

@_sap_suite_ui_commons_ProcessFlowConnection_StateRegular: @sapUiContentForegroundBorderColor;
@_sap_suite_ui_commons_ProcessFlowConnection_StateSelected: lighten(@sapUiContentForegroundBorderColor, 10);
@_sap_suite_ui_commons_ProcessFlowConnection_StateDimmed: darken(@sapUiContentForegroundBorderColor, 18);