.sapUshellSearchFacetFilter {
    .sapUshellSearchFacetTabBar .sapMLIB.sapMLIBSelected {
        &:not(:hover) {
            background: transparent;
        }
        .sapMSLITitleOnly {
            font-weight: bold;
        }
    }
    .sapMLIBCounter {
        color: @sapUiContentLabelColor;
    }
}
