.sapCEPSearchResultCard.sapFCard:not(.sapFCardPreview):not(.sapFCardTransparent):hover {
  box-shadow: var(--sapUiShadowLevel0);
}
.sapCEPSearchResultCard .sapFCard:not(.sapFCardPreview):not(.sapFCardTransparent):hover {
  box-shadow: var(--sapUiShadowLevel0);
}

.sapUiCEPCatCard:not(:last-child){
  margin-bottom:1rem;
}
.sapCEPSearchResultCard .sapFCardLoadingShimmer {
  display: none;
}