/* ====================================================================== */
/* CSS for sap.suite.ui.commons/ProcessFlowConnection.control             */
/* Belize Theme                                                           */
/* ====================================================================== */

@_sap_suite_ui_commons_ProcessFlowConnection_StateRegular: darken(@sapUiContentForegroundBorderColor, 15);
@_sap_suite_ui_commons_ProcessFlowConnection_StateSelected: darken(@sapUiContentForegroundBorderColor, 30);
@_sap_suite_ui_commons_ProcessFlowConnection_StateDimmed: lighten(@sapUiContentForegroundBorderColor, 6);

.sapSuiteUiCommonsBorderLeftStateRegular {
	border-left-color: @_sap_suite_ui_commons_ProcessFlowConnection_StateRegular;
}
.sapSuiteUiCommonsBorderLeftStateHighlighted {
	border-left-color: @sapUiHighlight;
}
.sapSuiteUiCommonsBorderLeftStateDimmed {
	border-left-color: @_sap_suite_ui_commons_ProcessFlowConnection_StateDimmed;
}
.sapSuiteUiCommonsBorderLeftStateSelected {
	border-left-color: @_sap_suite_ui_commons_ProcessFlowConnection_StateSelected;
}
.sapSuiteUiCommonsBorderBottomStateRegular {
	border-bottom-color: @_sap_suite_ui_commons_ProcessFlowConnection_StateRegular;
}
.sapSuiteUiCommonsBorderBottomStateHighlighted {
	border-bottom-color: @sapUiHighlight;
}
.sapSuiteUiCommonsBorderBottomStateDimmed {
	border-bottom-color: @_sap_suite_ui_commons_ProcessFlowConnection_StateDimmed;
}
.sapSuiteUiCommonsBorderBottomStateSelected {
	border-bottom-color: @_sap_suite_ui_commons_ProcessFlowConnection_StateSelected;
}
