.sapCaUiPTDeleteButton .sapUiIcon:before {
	background-color: @sapUiWhiteBG;
	color: @sapUiText;
}

.sapMBtn.sapCaUiPTDeleteButton.sapMBtnActive {
	background-color: transparent;
}

.sapCaUiPTDeleteButton.sapMBtnActive .sapUiIcon:before {
	color: @sapUiHighlight;	

}
