
/* ============================================= */
/* CSS for control sap.ushell.ui.launchpad/TileState.control */
/* ============================================= */

.sapUshellGT {
    background: @sapUiLightestBG;
}

.sapUshellOverlay {
    background-color: @sapUiLightestBG;
    opacity: 0.8;
}

.sapUshellTileStateFtrFldTxt {
    font-weight: normal;
}
