/*******************************/

/*** Bar chart default theme ***/

/*******************************/

.sapUshellSearchFacetBarChart {
    margin: 0.5rem 1rem 0 1rem;
}

.sapUshellSearchFacetIconTabBar .sapSuiteCpMCChartItemValue.sapSuiteCpMCSemanticColorGood,
.sapUshellSearchFacetIconTabBar .sapSuiteCpMCChartItemValue.sapSuiteCpMCSemanticColorNeutral {
    color: @sapUiChartCategoryAxisLabelFontColor;
    /* same as .sapSuiteCpMCChartItemTitle */
}

.searchFacetLargeChartContainer .sapSuiteCpMCChartItemValue.sapSuiteCpMCSemanticColorGood,
.searchFacetLargeChartContainer .sapSuiteCpMCChartItemValue.sapSuiteCpMCSemanticColorNeutral {
    color: @sapUiChartCategoryAxisLabelFontColor;
    /* same as .sapSuiteCpMCChartItemTitle */
}

.sapUshellSearchFacetBarChartLarge {
    padding: 0 0.5rem 0 0.5rem;
}
