.sapUshellSearchFacetIconTabBar.sapUshellSearchFacetTabBar .sapMListHdrTBar {
    border: none;
    margin-top: 2rem;
}

.sapUshellSearchFacetTabBarHeader.sapMLIB.sapMGHLI {
    padding-right: 0.5rem;
}

.sapUshellSearchFacetTabBarHeader .sapMLIBContent {
    overflow: hidden;
}

.sapElisaSearchFacetTabBarHeaderUl {
    color: @sapUiListTableGroupHeaderTextColor;
    font-size: 0.875rem;
    margin-top: 1rem;
    padding-bottom: 0.25rem;
    font-weight: normal;
}
.sapUshellSearchFacetFilter .sapUshellSearchFilterByHeaderListToolbar {
    padding-left: 0.25rem;
}

.sapUshellSearchFacetFilter
    .sapUshellSearchFilterByHeaderListToolbar
    .sapUshellSearchFilterByHeaderListToolbarinToolbar {
    padding-left: 0.25rem;
}
