/* ========================================================================= */
/* CSS for sap.suite.ui.commons/ProcessFlowConnection.control                */
/* Belize HCW Theme                                                          */
/* ========================================================================= */

.sapSuiteUiCommonsBorderLeftStateRegular {
	border-left-color: @sapUiHcReducedAltForeground;
}
.sapSuiteUiCommonsBorderLeftStateHighlighted {
	border-left-color: @sapUiContentHelpColor;
}
.sapSuiteUiCommonsBorderLeftStateDimmed {
	border-left-color: @sapUiHcReducedForeground;
}
.sapSuiteUiCommonsBorderLeftStateSelected {
	border-left-color: @sapUiContentForegroundBorderColor;
}
.sapSuiteUiCommonsBorderBottomStateRegular {
	border-bottom-color: @sapUiHcReducedAltForeground;
}
.sapSuiteUiCommonsBorderBottomStateHighlighted {
	border-bottom-color: @sapUiContentHelpColor;
}
.sapSuiteUiCommonsBorderBottomStateDimmed {
	border-bottom-color: @sapUiHcReducedForeground;
}
.sapSuiteUiCommonsBorderBottomStateSelected {
	border-bottom-color: @sapUiContentForegroundBorderColor;
}
