/* ========================================================================== */
/* CSS for sap.suite.ui.commons/ProcessFlowLaneHeader.control                 */
/* Belize HCW Theme                                                           */
/* ========================================================================== */

.suiteUiProcessFlowLaneHeaderDonutSvg {
	color: @sapUiGroupContentBackground;
}

.suiteUiProcessFlowLaneHeaderStartEndSymbolContainer {
	border: none;
}

.suiteUiProcessFlowLaneHeaderProcessSymbolContainer {
	border: none;
	color: @sapUiGroupContentBackground;
}

.suiteUiCommonsProcessFlowHeaderIconFill {
	fill: @sapUiGroupContentBackground;
	stroke: @sapUiContentForegroundBorderColor;
}

.suiteUiCommonsProcessFlowHeaderPositiveColor {
	fill: @sapUiPositiveElement;
}

.suiteUiCommonsProcessFlowHeaderNegativeColor {
	fill: @sapUiNegativeElement;
}

.suiteUiCommonsProcessFlowHeaderNeutralColor {
	fill: @sapUiNeutralElement;
}

.suiteUiCommonsProcessFlowHeaderCriticalColor {
	fill: @sapUiCriticalElement;
}

.suiteUiCommonsProcessFlowHeaderPlannedColor {
	fill: @sapUiGroupContentBackground;
}

.suiteUiCommonsProcessFlowHeaderIconFill.suiteUiCommonsProcessFlowHeaderPositiveColor {
	stroke: @sapUiPositiveElement;
	fill: @sapUiGroupContentBackground;
}

.suiteUiCommonsProcessFlowHeaderIconFill.suiteUiCommonsProcessFlowHeaderNegativeColor {
	stroke: @sapUiNegativeElement;
	fill: @sapUiGroupContentBackground;
}

.suiteUiCommonsProcessFlowHeaderIconFill.suiteUiCommonsProcessFlowHeaderNeutralColor {
	stroke: @sapUiNeutralElement;
	fill: @sapUiGroupContentBackground;
}

.suiteUiCommonsProcessFlowHeaderIconFill.suiteUiCommonsProcessFlowHeaderCriticalColor {
	stroke: @sapUiCriticalElement;
	fill: @sapUiGroupContentBackground;
}

.suiteUiCommonsProcessFlowHeaderIconFill.suiteUiCommonsProcessFlowHeaderPlannedColor {
	stroke: @sapUiGroupContentBackground;
	fill: @sapUiGroupContentBackground;
}
