/* ====================================== */
/* CSS for control sap.ui.comp/FilterBar  */
/* Base theme                             */
/* ====================================== */

.sapUiCompFilterBar {
	background-color: @sapUiObjectHeaderBackground;
	border-bottom: 1px solid @sapUiObjectHeaderBorderColor;
}

.sapFDynamicPageHeaderContent .sapUiCompFilterBar>.sapUiRespGridSpanXL12 {
	width: 100%;
}

.sapFDynamicPageHeaderContent .sapUiCompFilterBar {
	border-bottom: none;
	background-color: transparent;
}

.compVHSearch .sapUiCompFilterBarPhone.sapUiRespGrid.sapUiRespGridHSpace0 {
	padding-left: 0rem;
}

.sapUiCompFilterBarPhone.sapUiRespGrid.sapUiRespGridHSpace0 {
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-right: 1rem;
	padding-left: 0.5rem;
}

.sapFDynamicPageHeaderContent .sapUiCompFilterBarPhone.sapUiRespGrid.sapUiRespGridHSpace0 {
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-right: 0rem;
	padding-left: 0rem;
}

.sapUiCompFilterBarNonPhone.sapUiRespGrid.sapUiRespGridHSpace0 {
	padding-top: 1rem;
	padding-bottom: 1rem;

	padding-right: 1rem;
	padding-left: 1rem;
}

.sapUiCompFilterBarNonPhone .sapMIBar>.sapMBarChild:last-child {
	margin-right: 0;
}

.sapFDynamicPageHeaderContent .sapUiCompFilterBarNonPhone.sapUiRespGrid.sapUiRespGridHSpace0 {
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-right: 0rem;
	padding-left: 0rem;
}

.sapUiSizeCondensed .sapUiCompFilterBarNonPhone.sapUiRespGrid.sapUiRespGridHSpace0 {
	padding-top: 0rem;
	padding-bottom: 0.2rem;
}


.sapUiCompFilterBar .sapMSlt,.sapMSltLabel,.sapMSltArrow {
    display: block;
}

.sapUiCompFilterBar.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL12 {
	width: 100%;
}
.sapUiCompFilterBarToolbar .sapMBarChild.sapMSF {
	flex-shrink: 1;
	-webkit-flex-shrink: 1;
	padding-right: 0.5rem;
}
.sapUiCompFilterBar .sapMBtn.sapUiCompFilterBarPaddingRightBtn  {
	padding-right: 0.5rem;
}

.sapUiCompFilterBar .sapUiCompVarMngmt .sapUICompVarMngmtText {
	padding-left: 0;
}

.sapUiCompFilterBar .sapUiAFLayout {
	align-items: flex-end;
}

.sapUiCompFilterBar .sapUiAFLayout .sapUiCompFilterLabel.sapMLabel .sapMLabelTextWrapper::after {
	content: ":";
}

.sapUiCompFilterBar .sapUiAFLayout .sapUiCompFilterLabel.sapMLabel:lang(fr) .sapMLabelTextWrapper::after  {
	content: " :"; /* accommodates for the space and colon ` :` in French */
}

.sapUiCompFilterBar .sapUiAFLayout .sapBasicSearchFilter.sapUiCompFilterLabel.sapMLabel .sapMLabelTextWrapper::after {
	content: "";
}

.sapUiCompFilterBar .sapUiAFLayout .sapUiCompFilterLabel.sapMLabel {
	line-height: 1.3;
}

.sapUiCompFilterBar.sapUiRespGrid.sapUiRespGridVSpace1 > div {
	margin-bottom: 0rem;
	margin-left: 0rem;
	margin-right: 0rem;
	overflow: visible;
}

.sapUiCompFilterBar .sapUiCompFilterBarPaddingForm .sapUiFormResGridMain {
	background-color: transparent;
}

.sapUiCompFilterBar .sapUiFormM .sapUiRGLContainerCont {
	padding-bottom: 0.5rem;
}

.sapUiCompFilterBar .sapMPanelWrappingDiv {
   border-bottom: 0px;
}

.sapUiCompFilterBarToolbar {
	border-bottom-style: none;
	padding-right: 0;
}

.sapUiCompFilterBarToolbar .sapMBarChild.sapMSF {
	min-width: 4rem;
	max-width: 28rem;
}

.sapUiCompFilterBarToolbarBasicSearchNoVariant .sapMBarChild.sapMSF {
	margin-left: 0rem;
}

.sapUiTheme-sap_hcb .sapUiCompFilterBarDialog .sapUiFormTitleH4 {
	font-size: 1rem;
}


.sapMIBar .sapUiCompFilterBarMarginLeft.sapMBarChild:first-child {
	margin-left: 0rem;
}

.sapMBtn.sapUiCompFilterBarRemoveMinWidth {
	min-width: auto;
}

.sapUiCompFilterBarPaddingForm.sapUiFormResGrid > div {
	padding-top: 0rem;
	padding-right: 0rem;
	padding-bottom: 0rem;
	padding-left: 0rem;
}

.sapUiCompFilterBarPaddingPanel .sapMPanelContent {
	padding-top: 0.2rem;
	padding-right: 0.2rem;
	padding-bottom: 0rem;
	padding-left: 0.1rem;
	background-color: transparent;
	border-bottom: 0px;
}

html[dir='rtl'] .sapUiCompFilterBarFloatRight {
	float: left;
}

html[dir='rtl'] .sapUiCompFilterBarFloatLeft {
	float: right;
}

.sapUiCompFilterBarHint.sapMText {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0.5rem;
}

.sapUiCompFilterBar .sapUiAFLayoutItem,
.sapUiCompFilterBar .sapUiAFLayoutEnd,
.sapUiCompFilterBar .sapUiAFLayoutSpacer {
	margin-right: 1rem;
}

.sapUiCompFilterBar .sapUiAFLayoutItem,
.sapUiCompFilterBar .sapUiAFLayoutEnd {
	margin-top: 0.5rem;
}

/* BCP: 1970222979 - search field alignment */
.sapUiCompFilterBar .sapMIBar.sapMTB.sapUiCompFilterBarToolbar .sapUiCompVarMngmt,
.sapUiCompFilterBar .sapMIBar.sapMTB.sapUiCompFilterBarToolbar :not(.sapUiCompVarMngmt, .sapMVarMngmt) + .sapMBarChild {
	margin-left: 0;
}

.sapUiCompFilterBar .sapMIBar.sapMTB.sapUiCompFilterBarToolbar .sapUiCompVarMngmt.sapMBarChild {
	margin-right: 0.5rem;
}

.sapUiCompFilterBar .sapUiCompFilterBarToolbar button.sapMBtn {
	margin-left: 0.5rem;
}
.compValueHelpDialog .sapUiCompFilterBar .sapUiAFLayoutSpacer:first-child {
	margin-right: 0;
}
.compValueHelpDialog .sapUiCompFilterBar .sapUiAFLayoutItem,
.compValueHelpDialog .sapUiCompFilterBar .sapUiAFLayoutEnd {
	margin-top: 1rem;
}

.compValueHelpDialog footer .sapMIBar.sapMFooter-CTX {
	padding-right: 2rem;
}
.compValueHelpDialog .sapUiCompFilterBarToolbar,
.compValueHelpDialog .sapUiCompFilterBar.sapUiCompFilterBarNonPhone  {
	padding-right: 1rem;
}
.compValueHelpDialog .sapUiCompFilterBar.sapUiCompFilterBarPhone .sapMIBar.sapMTB.sapUiCompFilterBarToolbar {
	padding-left: 0;
	padding-right: 0;
}
.compValueHelpDialog .sapUiCompFilterBarToolbar .sapMBarChild.sapMSF {
	max-width: unset;
}
.compValueHelpDialog .sapUiCompFilterBarToolbar button.sapMBtn.sapMTBShrinkItem {
	flex-shrink: 0;
}
.compValueHelpDialog .sapUiCompFilterBarPhone .sapUiAFLayoutItem {
	margin-right: 0.5rem;
}
.compValueHelpDialog .sapUiCompFilterBar.compFilterBarTablet {
	padding-top: 0.5rem;
}
.compValueHelpDialog .sapUiCompFilterBarNonPhone.sapUiRespGrid.sapUiRespGridHSpace0 {
	padding-left: 2rem;
	padding-right: 2rem;
}
.sapUiCompFilterBar .sapUiCompSmartChartHeader {
	margin-right: 0.5rem;
}
