/* ======================================= */
/* CSS for control sap.ui.comp/SmartTable  */
/* Base theme                              */
/* ======================================= */

@_sap_ui_comp_SmartTable_ExportButton: ~"Ghost";

.sapUiCompSmartTable .sapUiCompSmartTableHeader {
	margin: 0;
}

.sapUiCompSmartTable .sapUiAnalyticalTableSum input {
	border: 0;
	background: inherit;
	pointer-events: none;
}

.sapUiCompSmartTable .sapUiTableGroupHeader input {
	border: 0;
	background: inherit;
	pointer-events: none;
}

.sapUiCompSmartTable .sapUiAnalyticalTableSum .sapMInputValHelpInner {
	display: none;
}

.sapUiCompSmartTable .sapUiTableGroupHeader .sapMInputValHelpInner {
	display: none;
}

.sapUiCompSmartTable .sapUiAnalyticalTableSum .sapMDP {
	display: none;
}

.sapUiCompSmartTable .sapUiTableGroupHeader .sapMDP {
	display: none;
}

.sapUiCompSmartTable .sapUiAnalyticalTableSum .sapUiCompCurrencyBold {
	font-weight: bold;
}

/* fix vertical alignment for GridTable (except for Condensed Density because of Row Height issues) */
.sapUiCompSmartTable:not(.sapUiSizeCondensed) .sapUiTable:not(.sapUiSizeCondensed) .sapUiCompCurrency,
.sapUiCompSmartTable:not(.sapUiSizeCondensed) .sapUiTable:not(.sapUiSizeCondensed) .sapUiCompUoMPart {
	margin-top: 2px;
}

.sapUiSizeCondensed .sapUiCompSmartTable .sapUiTable .sapUiCompCurrency,
.sapUiSizeCondensed .sapUiCompSmartTable .sapUiTable .sapUiCompUoMPart {
	margin-top: 0 !important;
}

.sapUiCompSmartTable .sapUiCompCurrencyTabNums,
.sapUiCompMultiCurrency .sapUiCompCurrencyTabNums {
	font-variant-numeric: tabular-nums;
}
