/* ===========================================================================*/
/* CSS for sap.suite.ui.commons/CalculationBuilder                            */
/* Belize HCB Theme                                                           */
/* ===========================================================================*/

/** INPUT **/
.sapCalculationBuilderInput:focus::before {
  	border: 2px dotted @sapUiContentFocusColor;
}

/** ITEM **/
.sapCalculationBuilderItemFocus {
  	border: 2px dotted @sapUiContentFocusColor;
}

.sapCalculationBuilderItemExpandButton:focus .sapCalculationBuilderItemExpandButtonFocus,
.sapCalculationBuilderItemExpandButton:active .sapCalculationBuilderItemExpandButtonFocus {
  	border: 2px dotted @sapUiContentFocusColor;
}
