/* ===========================================================================*/
/* CSS for sap.suite.ui.commons/TAccount                                      */
/* Belize HCB Theme                                                           */
/* ===========================================================================*/

.sapSuiteUiCommonsAccount:focus {
  	outline: 2px dotted @sapUiContentFocusColor;
}

/** ITEM **/
.sapSuiteUiCommonsAccountItem:focus {
  	outline: 2px dotted @sapUiContentFocusColor;
	outline-offset: -2px;
}

/** PANEL **/
.sapSuiteUiCommonsAccountPanel:focus {
  	outline: 2px dotted @sapUiContentFocusColor;
	outline-offset: -2px;
}
