/* ======================================= */
/* CSS for control sap.ushell/PictureTile  */
/* Horizon theme                           */
/* ======================================= */

.sapCaUiPTDeleteButton .sapUiIcon:before {
	background-color: @sapUiWhiteBG;
	color: @sapUiText;
}

.sapMBtn.sapCaUiPTDeleteButton.sapMBtnActive {
	background-color: transparent;
}