/* ============================================================ */
/* CSS for control sap.suite.ui.microchart/HarveyBallMicroChart */
/* High Contrast White Theme                                    */
/* ============================================================ */

.sapSuiteHBMCBackgroundCircle {
	stroke: @sapUiHcStandardForeground;
	stroke-width: 1.5;
	fill: @sapUiHcStandardBackground;
}

.sapSuiteHBMCSegment {
	stroke: @sapUiHcStandardForeground;
}

html.sap-desktop .sapSuiteHBMC:focus {
  outline: 2px dotted @sapUiContentFocusColor;
}
