/* ====================================================== */
/* CSS for sap.ushell.components.flp.settings.FlpSettings */
/* ====================================================== */

.sapUshellFlpSettingsLabel {
  width: 12rem;
  line-height: 3rem;
  margin-right: 0.25rem;
  white-space: pre-line;
}

.sapUiSizeCompact .sapUshellFlpSettingsLabel {
  line-height: 2rem;
}

.sapUshellFlpSettingsDescription {
  font-family: @sapUiFontFamily;
  font-size: @sapMFontSmallSize;
  line-height: 1rem;
  font-style: italic;
  margin-bottom: 0.5rem;
  max-width: 14.375rem;
}

.sapUshellFlpSettingsDescription.sapUshellFlpSettingsWide {
  max-width: 100%;
}

.sapUshellFlpSettingsWarning {
  font-family: @sapUiFontFamily;
  font-size: @sapMFontSmallSize;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  max-width: 14.375rem;

  .sapMText {
    font-size: @sapMFontSmallSize;
  }
}




.sapUshellFlpSettingsWideDescription {
  font-family: @sapUiFontFamily;
  font-size: @sapMFontSmallSize;
  line-height: 1rem;
  font-style: italic;
  color: @sapUiFieldPlaceholderTextColor;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  border-top: solid 0.125rem @sapUiGroupContentBorderColor;
  padding-top : 0.5rem;
}

.sapUshellFlpSettingsHint {
  font-family: @sapUiFontFamily;
  font-size: @sapMFontSmallSize;
  line-height: 1rem;
  font-style: italic;
  color: @sapUiFieldPlaceholderTextColor;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding-top : 0.5rem;
}

.sapUshellFlpSettingsLanguageRegionHourFormatFBox{
  margin-top: 3px;
}
.sapUshellFlpSettingsDescriptionBorder {
  border-top: solid 0.125rem @sapUiGroupContentBorderColor;
  padding-top: 10px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  }

.sapUshellCleanActivityLabel {
  line-height: 2;
  margin-right: 0.5rem;
  white-space: normal;

}
