/* ============================================= */
/* CSS for control sap.ca.ui/PictureViewer.control */
/* ============================================= */

.sapCaPW {
    position: relative;
}

.sapCaPWRendering {
    opacity: 0;
}

.sapCaPW .sapCaUiPTDeleteButton{
    display: none;
}

.sapCaPW.sapCaPWEditable  .sapCaUiPTDeleteButton{
    display: block;
}

.sapCaPVBly{
    opacity: 1;
    background-color: @sapUiWhiteBG;
    overflow: hidden;
}
