/* ================================================ */
/* CSS for sap.ushell QuickAccess Dialog base theme */
/* ================================================ */

/* General QuickAccess Dialog */

.sapUshellQuickAccessListIcon .sapUiIcon {
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.25rem; // The same as in the recent/frequent cards
}

#quickAccess .sapMITBContent {
  padding: 0;
}
