/* ======================================= */
/* CSS for control sap.ui.comp/SmartTable  */
/* Horizon theme                            */
/* ======================================= */

@_sap_ui_comp_SmartTable_ExportButton: ~"Transparent";

.sapUiCompSmartTable .sapUiCompCurrencyMonoFont,
.sapUiCompMultiCurrency .sapUiCompCurrencyMonoFont {
	font-family: @sapContent_MonospaceFontFamily;
}

.sapUiCompSmartTableToolbar,
.sapUiCompSmartTable .sapMIBar.sapMTBHeader-CTX {
	border-top-right-radius: @sapUiElementBorderCornerRadius;
	border-top-left-radius: @sapUiElementBorderCornerRadius;
}