/* ======================================= */
/* CSS for control sap.ui.comp/SmartChart  */
/* Horizon theme                            */
/* ======================================= */

.sapUiCompSmartChart {
	background: @sapUiChartBackgroundColor;
	border-radius: @sapUiElementBorderCornerRadius;
    padding-bottom: 1rem;
}