/*...........................................................................*/
/* LESS for control sap.ui.vk/ContainerBase.control...................................*/
/*...........................................................................*/


/* main container style..................................................*/
.sapUiVkContainerBase {
  	border: none;
  	position: relative;
  	width: 100%;
  	height: 100%;
}

.sapUiVkContainerBaseOverlay { /* class for fullscreen overlay */
	left: 0;
  	top: 0 !important;
  	width: 100%;
  	height: 100%;
}

.sapUiVkContainerBaseWrapper {
  	width: 100%;
  	height: 100%;
  	background-color: rgb(255,255,255);
}

.sapUiVkContainerBaseToolbarArea {
	position: absolute;
	top: 0px;
	right: 0px;
}

.sapUiVkContainerBaseToolbarArea .sapMTB {
	border: none;
}

.sapUiVkContainerBaseContentArea {
	padding-top: 3em;
	width: 100%;
  	height: 100%;	
}

.sapUiSizeCompact .sapUiVkContainerBaseContentArea {
	padding-top: 2em;
}