/*...........................................................................*/
/* LESS for control sap.ui.vk/LegendItem.control.............................*/
/*...........................................................................*/


/* Legend Item style.........................................................*/


.sapUiVkLegendItemSquare
{
	
	height: 1.125rem;
	width: 1.125rem;
	border-style: solid;
	border-width: 0.125rem;
	border-color: white;
	margin-right: 1rem;
}

.sapUiSizeCompact .sapUiVkLegendItemSquare
{
	height: 0.75rem;
	width: 0.75rem;

}

.sapUiVkLegendItemSpotType
{

}
.sapUiVkLegendItemSpotType .sapMSLIImg , .sapUiVkLegendItemSpotType .sapMSLIImgFirst 
{
	
	height: 2rem;
	width: 1.49rem;
	
}

.sapUiSizeCompact .sapUiVkLegendItemSpotType .sapMSLIImg, .sapUiSizeCompact .sapUiVkLegendItemSpotType .sapMSLIImgFirst
{
	
	height: 1.5rem;
	width: 1.15rem;
	
}
 