.sapVizKitNativeViewport {
    display: inline-flex;
    width: 100%;
    height: 100%;
    touch-action: none;
    -ms-touch-action: none;
    overflow: hidden;
    outline-offset: -1px;
	position: relative;
}

.sapVizKitNativeViewport > div {
	overflow: hidden;
	flex: 1;
	margin: 1px;
}

.SVGImage {
   pointer-events: none;
}

.svgErrorContainer {
	display: inline-block;
}