/*...........................................................................*/
/* LESS for control sap.ui.vk/Overlay.control...................................*/
/*...........................................................................*/


/* main overlay container style..................................................*/
.sapUiVkOverlay {
  	border: none;
  	width: 100%;
  	height: 100%;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}