.sapUiVizkitRedlineTool {
	position: absolute;
	width: 100%;
	height: 100%;

	box-shadow: inset 0px 0px 0px 4px #0099db80;

	// disable SVG text selection
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	touch-action: none;
	-ms-touch-action: none;
}
