.sapUiVizkitRedlineDesign, .sapUiVizkitRedlineSurface {
	box-shadow: inset 0px 0px 0px 0.25em #0099db;
	// disable SVG text selection
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	touch-action: none;
	-ms-touch-action: none;
}

.sapUiVizkitRedlineDesignMode {
	cursor: crosshair;
}

.sapUiVizkitRedlineInteractionMode {
	cursor: default;
}
