.sapVizKitViewport .sapUiVizKitSceneOrientationGizmo {
	position: absolute;
	width: 160px;
	height: 160px;
	right: 10px;
	top: 10px;
}

.sapUiVizKitSceneOrientationGizmoButton {
	position: absolute !important;
	right: 0;
}
