.sapUiVkTransformationToolEdit {
	position: absolute;
	cursor: default;
	display: none; // hidden by default
}

.sapUiVkTransformationToolEditLabel {
	padding: 0px 8px 0px 3px; // top right bottom left
	font-size: 1.5rem !important;
	text-shadow: 1px 1px 2px #000000c0;
	line-height: 32px !important;
}

.sapUiVkTransformationToolEditUnits {
	padding: 0px 3px 0px 3px; // top right bottom left
	color: #000000 !important;
	text-shadow: -1px -1px 2px #ffffff, 1px -1px 2px #ffffff, -1px 1px 2px #ffffff, 1px 1px 2px #ffffff;
	line-height: 32px !important;
}

.sapUiVkTransformationToolCursorNSResize {
	cursor: ns-resize;
}

.sapUiVkTransformationToolCursorEWResize {
	cursor: ew-resize;
}

.sapUiVkTransformationToolCursorNWSEResize {
	cursor: nwse-resize;
}

.sapUiVkTransformationToolCursorNESWResize {
	cursor: nesw-resize;
}

.sapUiVkTransformationToolCursorMove {
	cursor: move;
}

.sapUiVkTransformationToolCursorRotate{
	cursor: url('images/vk-rotate-2d.svg') 12 14, alias;
}
