/* ======================================= */
/* CSS for control sap.ui.comp/ValueHelpDialog  */
/* Horizon High Contrast Black theme       */
/* ======================================= */
.compVHMainTable .sapUiTableHdr,
.compVHMainTable .sapUiTableCCnt {
    border-bottom: none;
}
.compVHMainTable .sapUiTableColHdrCnt {
    border-bottom-width: 1px;
    border-bottom-color: @sapUiListBorderColor !important;
}