/* =================================================== */
/* CSS for sap.suite.ui.commons/ProcessFlowConnection  */
/* Evening Horizon theme                               */
/* =================================================== */

@_sap_suite_ui_commons_ProcessFlowConnection_StateRegular: @sapContent_ForegroundBorderColor;
@_sap_suite_ui_commons_ProcessFlowConnection_StateSelected: @sapNeutralTextColor;
@_sap_suite_ui_commons_ProcessFlowConnection_StateDimmed: @sapGroup_ContentBorderColor;

.sapSuiteUiCommonsBorderLeftStateRegular {
	border-left-color: @_sap_suite_ui_commons_ProcessFlowConnection_StateRegular;
}
.sapSuiteUiCommonsBorderLeftStateHighlighted {
	border-left-color: @sapContent_DragAndDropActiveColor;
}
.sapSuiteUiCommonsBorderLeftStateDimmed {
	border-left-color: @_sap_suite_ui_commons_ProcessFlowConnection_StateDimmed;
}
.sapSuiteUiCommonsBorderLeftStateSelected {
	border-left-color: @_sap_suite_ui_commons_ProcessFlowConnection_StateSelected;
}
.sapSuiteUiCommonsBorderBottomStateRegular {
	border-bottom-color: @_sap_suite_ui_commons_ProcessFlowConnection_StateRegular;
}
.sapSuiteUiCommonsBorderBottomStateHighlighted {
	border-bottom-color: @sapContent_DragAndDropActiveColor;
}
.sapSuiteUiCommonsBorderBottomStateDimmed {
	border-bottom-color: @_sap_suite_ui_commons_ProcessFlowConnection_StateDimmed;
}
.sapSuiteUiCommonsBorderBottomStateSelected {
	border-bottom-color: @_sap_suite_ui_commons_ProcessFlowConnection_StateSelected;
}
