/* ======================================= */
/* CSS for control sap.ui.comp/ValueHelpDialog  */
/* Horizon High Contrast White theme       */
/* ======================================= */
.compVHContentContainerVbox {
    background-color: @sapUiPageHeaderBackground;
}
.compVHMainTable .sapUiTableHdr,
.compVHMainTable .sapUiTableCCnt {
    border-bottom: none;
}
.compVHMainTable .compVHContentContainerVbox {
    border-bottom-width: 1px;
    border-bottom-color: @sapUiListBorderColor !important;
}
.compVHMainTable .sapUiTableColHdrCnt {
    border-bottom-width: 1px;
}