/* ================================================================================ */
/* CSS for control "sap.ushell.ui.footerbar.ContactSupportButton"                   */
/* ================================================================================ */

.sapUshellTechnicalInfoBox {
  border: 1px solid @sapUiHcStandardForeground;
}

.sapUshellContactSupportHeaderInfoText {
  color: @sapUiLightText;
  font-size: 0.895rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* for "#technicalInfoBox" */
.sapUshellContactSupportFixWidth {
  @media (orientation: portrait) {
    max-width: 13.82rem;
  }
}
