/* override the focus outline of GridContainer to render it inside of the container */
.sapUshellSection .sapUshellSectionGridContainer>.sapFGridContainerItemWrapper:not(.sapFGridContainerItemWrapperNoVisualFocus):focus::before {
    left: 2px;
    bottom: 2px;
    right: 2px;
    top: 2px;
}