/* =============================================================== */
/* CSS for control sap.suite.ui.microchart/DeltaMicroChart.control */
/* Belize Theme                                                    */
/* =============================================================== */

.sapSuiteDMC {
	font-family: @sapUiFontHeaderFamily;
	font-weight: @sapUiFontHeaderWeight;
	color: @sapUiChartCategoryAxisLabelFontColor;
}
