/* ==================================================== */
/* CSS for sap.suite.ui.microchart/StackedBarMicroChart */
/* Belize Theme                                         */
/* ==================================================== */

.sapSuiteStackedMC:focus:not([tabindex]) {
	outline: none;
}

.sapSuiteStackedMCBarSemanticColorNeutral {
	background-color: @sapUiChartPaletteSemanticNeutral;
}

.sapSuiteStackedMCBarSemanticColorGood {
	background-color: @sapUiChartPaletteSemanticGood;
}

.sapSuiteStackedMCBarSemanticColorCritical {
	background-color: @sapUiChartPaletteSemanticCritical;
}

.sapSuiteStackedMCBarSemanticColorError {
	background-color: @sapUiChartPaletteSemanticBad;
}
