/* ============================================================ */
/* CSS for control sap.suite.ui.microchart/InteractiveBarChart  */
/* Belize Plus Theme                                            */
/* ============================================================ */

@_sap_suite_ui_microchart_InteractiveBarChart_BarBackground:				lighten(saturate(@sapUiBrand, 40), 30);
@_sap_suite_ui_microchart_InteractiveBarChart_BarHoverBackground: 			fade(lighten(saturate(@sapUiBrand, 40), 30), 20);
@_sap_suite_ui_microchart_InteractiveBarChart_BarSelectedBackground:		fade(lighten(saturate(@sapUiBrand, 40), 30), 20);
@_sap_suite_ui_microchart_InteractiveBarChart_BarSelectedHoverBackground:	fade(lighten(saturate(@sapUiBrand, 40), 30), 40);
@_sap_suite_ui_microchart_InteractiveBarChart_BarHoverBorder:				fade(@sapUiHighlight, 60);
