/*****************/

/*** Pie Chart ***/

/*****************/

g.sap-piechart path {
    fill: white;
    stroke: black !important;
    outline: none;
}

g.sap-piechart text.labelshadow {
    stroke: white;
    stroke-width: 0.5rem;
}
