/* ======================================================== */
/* CSS styles for sap.ui.shell.ToolAreaItem.control (bluecrystal)  */
/* ======================================================== */

@_sap_ushell_ToolAreaItem_HoverBG: #45596a;
@_sap_ushell_ToolAreaItem_BG: #3f5161;
@_sap_ushell_ToolAreaItem_SelectedBG: #416b8e;
@_sap_ushell_ToolAreaItem_IconColor: #b7cee4;
@_sap_ushell_ToolAreaItem_SeparatorColor: #4d6376;

.sapUshellToolArea {

  background-color: @_sap_ushell_ToolAreaItem_BG;


  .sapUshellToolAreaItemIcon {
    color: @_sap_ushell_ToolAreaItem_IconColor;
  }

}
.sapUshellToolAreaItemText {
  color: @_sap_ushell_ToolAreaItem_IconColor;
}


.sapUshellToolAreaItemText {
  color: @_sap_ushell_ToolAreaItem_IconColor;
}

.sapUshellToolAreaContentSeparator, .sapUshellToolAreaFooterContentSeparator {
  height:1px;
  background-color: @_sap_ushell_ToolAreaItem_SeparatorColor;

}
.sapUshellToolAreaContent:hover, .sapUshellToolAreaFooterContent:hover{
  background-color: @_sap_ushell_ToolAreaItem_HoverBG;
}

.sapUshellToolAreaItemSelected {
  background-color: @_sap_ushell_ToolAreaItem_SelectedBG;
}

.sapUshellToolAreaItemExpandable:after {
  color:  @_sap_ushell_ToolAreaItem_IconColor;
}

.sapUshellToolAreaItm {
  color: @_sap_ushell_ToolAreaItem_IconColor;
}
