/* ================================================================ */
/* CSS for control "sap.ushell.ui.launchpad.Tile" (sap_fiori_3_hcw) */
/* ================================================================ */

.sapUshellTile:focus::after {
  border: 2px dotted @sapUiContentFocusColor;
}

.sapUshellTileFooterInfoNegative {
  color: @sapUiNegativeElement;
}

.sapUshellTileFooterInfoNeutral {
  color: @sapUiNeutralElement
}

.sapUshellTileFooterInfoPositive {
  color: @sapUiPositiveElement
}

.sapUshellTileFooterInfoCritical {
  color: @sapUiCriticalElement;
}
