/* ============================================ */
/* CSS for control sap.ui.comp/ValueHelpDialog  */
/* Evening Horizon theme                        */
/* ============================================ */

.compVHContentContainerVbox {
    background-color: @sapGroup_ContentBackground;
}
html.sap-desktop .compValueHelpDialog .sapMIBar.sapMFooter-CTX {
   border-top: 1px solid @sapUiPageFooterBorderColor;
}
.compVHMainTable .sapUiTableHdr,
.compVHMainTable .sapUiTableCCnt {
    border-bottom: none;
}