/* ===========================================================================*/
/* CSS for sap.suite.ui.commons/NetworkNode                                   */
/* Belize HCW Theme                                                           */
/* ===========================================================================*/

.sapSuiteUiCommonsNetworkBox .sapSuiteUiCommonsNetworkDivFocus {
  	border: 2px dotted transparent;
}

.sapSuiteUiCommonsNetworkElementFocus .sapSuiteUiCommonsNetworkDivFocus {
  	border: 2px dotted @sapUiContentFocusColor;
}

.sapSuiteUiCommonsNetworkGraphDivActionButtonBackground .sapSuiteUiCommonsNetworkActionButtonFocusCircle,
.sapSuiteUiCommonsNetworkElementSelected.sapSuiteUiCommonsNetworkElementFocus .sapSuiteUiCommonsNetworkDivFocus {
  	border: 2px dotted @sapUiContentContrastTextColor;
}

.sapSuiteUiCommonsNetworkActionButtonFocusCircle,
.sapSuiteUiCommonsNetworkBoxFocus{
  	stroke-width: 2px;
  	stroke-dasharray: 0, 6;
}

.sapSuiteUiCommonsNetworkGraphDivHeader.sapSuiteUiCommonsNetworkGraphDivHeaderColor  {
	background-color: @sapUiPageHeaderBackground;
}

.sapSuiteUiCommonsNetworkElementSelected .sapSuiteUiCommonsNetworkGraphDivHeader.sapSuiteUiCommonsNetworkGraphDivHeaderColor {
	background-color: transparent;
}
