/* ================================================ */
/* CSS for control sap.ushell/NotificationSettings  */
/* ================================================ */

#notificationSettingsSwitchBar .sapMLabel {
    color: @sapUiContentLabelColor;
}

/* Eliminate the 0.25rem spacing (padding-left) of the left switch control */    
#NotificationSettingsPage-intHeader-BarRight.sapMBarRight {
    padding-left : 0;
}

#notificationSettingsNoDataInnerBox #notificationSettingsNoDataTextHeader {
    color: @sapUiGroupTitleTextColor; 
}

#notificationSettingsNoDataInnerBox #notificationSettingsNoDataText {
    color: @sapUiBaseText;
}

#notificationSettingsNoDataIcon {
    color: @sapUiContentNonInteractiveIconColor;
}
#notificationSettingsSwitchBar {
    background: @sapUiObjectHeaderBackground;
}

#notificationSettings .sapMListTbl {
    border-top-color: @sapUiLightBG;
}
