/* ============================================ */


/* CSS for control sap.ui.comp/ValueHelpDialog  */


/* Base theme                                   */


/* ============================================ */


/* FIX for IE10 */

.compValueHelpDialog .sapMFlexItem {
    -ms-flex-negative: 0;
}


/* IconToolBar Styles - Tabs */

.compValueHelpDialog .sapMITBContent {
    padding: 0rem;
    border-bottom: none;
}

.compValueHelpDialog .sapMITBHead {
	margin-top: 0rem;
}

.sapMDialog.compValueHelpDialog .sapMITHWrapper {
	padding-left: 2rem;
	padding-right: 2rem;
}


/* required for Table */

.compValueHelpDialog .sapUiTable .sapUiTableHdrTitle {
    font-size: @sapMFontHeader5Size;
    font-weight: @sapUiFontHeaderWeight;
    color: @sapUiGroupTitleTextColor;
}

.compValueHelpDialog .sapUiTableHdr {
    padding-left: 0;
}

/* Tokenizer Panel */

.sapUiSizeCompact .compValueHelpDialog .compVHBackgroundTransparent .sapMPanelHdr,
.sapUiSizeCompact.compValueHelpDialog .compVHBackgroundTransparent .sapMPanelHdr {
    font-size: @sapMFontLargeSize;
    color: @sapUiGroupTitleTextColor;
}

.compValueHelpDialog .compVHBackgroundTransparent .sapMPanelBG {
    background-color: Transparent;
    margin-left: 3rem;
}

.sapUiSizeCompact .compValueHelpDialog .compVHBackgroundTransparent .sapMPanelBG,
.sapUiSizeCompact.compValueHelpDialog .compVHBackgroundTransparent .sapMPanelBG {
    margin-left: 2rem;
}

.compValueHelpDialog .sapMPanelContent:not(.sapMPanelBGTransparent) {
    border-bottom-width: 0px;
}

.compValueHelpDialog .sapMPanel > .sapMPanelHdr {
    padding-left: 0;
    border-bottom: none;
}

.compValueHelpDialog .sapMFilterPanelContent .sapMPanel > .sapMPanelHdr {
    padding-left: 1rem;
}

.compValueHelpDialog .sapMPanel > .sapMPanelHdr {
  border-bottom: none;
}

.compValueHelpDialog .compVHDBackground {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.compValueHelpDialog .compVHSelectedItemsText {
    font-size: 16px;
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: @sapUiGroupTitleTextColor;
}

.sapUiSizeCompact .compValueHelpDialog .compVHSelectedItemsText,
.sapUiSizeCompact.compValueHelpDialog .compVHSelectedItemsText {
    font-size: @sapMFontMediumSize;
    font-weight: normal;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


/* Tokens DIV */
html.sap-desktop .compValueHelpDialog .compVHTokensDiv.sapMTokenizer:focus {
    outline-offset: -4px;
}

.compValueHelpDialog .compVHTokensDiv {
    border-width: 1px;
    border-color: @sapUiFieldBorderColor;
    border-style: solid;
    border-radius: @sapUiFieldBorderCornerRadius;
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 2.25rem;
    display: block;
    box-sizing: border-box;
    margin-right: 42px;
    overflow: hidden;
    background: @sapUiFieldBackground;
}

.sapUiSizeCompact .compValueHelpDialog .compVHTokensDiv,
.sapUiSizeCompact.compValueHelpDialog .compVHTokensDiv {
    padding-top: 4px;
    min-height: 32px;
    margin-right: 2.5rem;
}


/* Tokenizer Styles */

.compValueHelpDialog .compVHTokenizerHLayout {
    position: relative;
    width: 100%;
}

.compValueHelpDialog .compVHTokenizerHLayout .sapUiHLayoutChildWrapper:first-child {
    width: 100%;
}

.compValueHelpDialog .compVHRemoveAllBtn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.compValueHelpDialog .sapUiTable {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}


/* Filterbar */

.compValueHelpDialog .sapUiCompFilterBar .sapMPanel {
    margin-top: 0.5rem;
}

.compValueHelpDialog .sapUiCompFilterBar {
    background: @sapUiListTableGroupHeaderBackground;
    border-color: @sapUiListTableGroupHeaderBorderColor;
    border-style: solid;
    background-color: fade(@sapUiListTableGroupHeaderBackground, 0%);
    margin-bottom: 1rem;
}


/* Filterbar and Collective Search */

.compValueHelpDialog .compVHSearch {
    border-color: @sapUiListTableGroupHeaderBorderColor;
    border-style: solid;
    border-left-width: 0rem;
    border-right-width: 0rem;
    border-top-width: 0rem;
    border-bottom-width: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    padding-left: 2rem;
}

.compValueHelpDialog .compVHSearch.sapUiRespGridHSpace0 {
    padding-bottom: 0rem;
}

.compValueHelpDialog .sapMConditionPanel .conditionRootGrid .sapUiRespGridVSpace0 {
    margin-top: 0.125rem;  /* or @sapUiMarginTiny */
}

.compValueHelpDialog .compVHFilterBarPadding.sapUiCompFilterBarNonPhone.sapUiRespGrid.sapUiRespGridHSpace1 {
    padding-bottom: 1rem;
}


/* Collective Search Elements */
.compValueHelpDialog .compVHColSearchVBox.sapMFlexBox,
.compValueHelpDialog .sapMFlexBox.mainLayout {
    overflow-y: hidden;
}

.compValueHelpDialog .compVHColSearch {
    padding-top: 1rem;
    padding-right: 1rem;
}

.compValueHelpDialog .compVHColSearchText.compVHColSearchTextMaxWidth {
	max-width: 20rem;
}

.compValueHelpDialog .compVHColSearchText.compVHColSearchTextTabletMaxWidth {
	max-width: 10rem;
}

.sapUiSizeCompact .compValueHelpDialog .compVHColSearchText,
.sapUiSizeCompact.compValueHelpDialog .compVHColSearchText {
    font-size: @sapMFontHeader5Size;
    font-weight: @sapUiFontHeaderWeight;
    padding-top: 0.4rem;
}

.compValueHelpDialog .compVHColSearchText {
    font-size: @sapMFontHeader4Size;
    font-weight: @sapUiFontHeaderWeight;
    padding-top: 1rem;
    color: @sapUiButtonTextColor;
}

.compValueHelpDialog .compVHColSearchBtn {
    line-height: 1.5rem;
    margin-right: 1rem;
}

.sapUiSizeCompact .compValueHelpDialog .compVHColSearchBtn,
.sapUiSizeCompact.compValueHelpDialog .compVHColSearchBtn {
    line-height: 1.5rem;
    margin-right: 1rem;
}

.sapUiSizeCompact .compValueHelpDialog .compVHColSearchBtn .sapMBtnInner,
.sapUiSizeCompact.compValueHelpDialog .compVHColSearchBtn .sapMBtnInner {
    border-width: 0px;
}

.compValueHelpDialog .compVHColSearchBtn .sapMBtnInner {
    border-width: 0px;
}


/* -------------------------------------------- */

.compVHTokensPanel.compValueHelpDialogTokens {
	padding-top: 2px;
	padding-bottom: 2px;
	border: none;
}

.compValueHelpDialog .compValueHelpDialogTokens .sapMPanelContent {
    padding: 0;
    border-bottom: 0px;
    background-color: Transparent;
}

.sapUiSizeCompact .compValueHelpDialog .sapMPanelHdr,
.sapUiSizeCompact.compValueHelpDialog .sapMPanelHdr {
    font-size: @sapMFontLargeSize;
    font-weight: normal;
    color: @sapUiGroupTitleTextColor;
}

.compValueHelpDialog .sapUiCompFilterBar .sapMPanelHdr {
    height: 0.5rem;
    border-bottom: 0px;
}


/* set the content Scrollbar vertical "auto scroll" */

.compValueHelpDialog .sapMDialogScrollCont {
    padding-top: 0px;
    height: 100%;
}

.compValueHelpDialog .displayNone {
    display: none;
}

.compValueHelpDialog .sapMPanelWrappingDiv {
    border-bottom: 0px;
}


/* Workaround to make the Filter/Conditions Panels background transparent */

.sapMFilterPanel .sapMPanelBG {
    background-color: Transparent;
}


/* FilterBar adjustment */

.compValueHelpDialog .sapUiCompFilterBar .sapMPanelContent {
    overflow: visible;
}

.compValueHelpDialog .sapUiCompFilterBar .sapMPanel {
    overflow: visible;
}

.compValueHelpDialog .sapUiCompFilterBar {
    border-color: @sapUiListTableGroupHeaderBorderColor;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.compValueHelpDialog .sapMFilterPanel {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.compValueHelpDialog .compVHAdvancedSearchLink {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

html.sap-phone .compValueHelpDialog .compVHDarkBackground {
    padding-left: 0rem;
    padding-right: 0.5rem;
}

html.sap-phone .compValueHelpDialog .compVHDarkBackground .sapMPanelHdr {
    font-size: @sapMFontMediumSize;
}

html.sap-phone .compValueHelpDialog .compVHSelectedItemsText {
    font-size: @sapMFontMediumSize;
}

html.sap-phone .compValueHelpDialog .compVHSearch {
    background-color: transparent;
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    padding-right: 0rem;
}

html.sap-phone .compValueHelpDialog .compVHColSearchText {
    margin-left: 1rem;
}

html.sap-phone .compValueHelpDialog .sapMFilterPanel {
    padding-left: 0rem;
}

html.sap-phone .compValueHelpDialog .sapMTokenizerScrollContainer {
    height: auto;
}

html.sap-phone .compValueHelpDialog .compVHRemoveAllBtn {
    top: 1.5rem;
}

html.sap-phone .compValueHelpDialog .sapUiCompFilterBarToolbar .sapMBarChild.sapMSF {
    max-width: initial;
}

html.sap-phone .compValueHelpDialog .sapUiCompFilterBar .sapUiFormResGridCont>div {
    padding-left: 0rem;
}

.compValueHelpDialog .sapMFlexBox {
    overflow-y: auto;
}

.compValueHelpDialog .sapUiVHImageExpand {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.compValueHelpDialog .sapUiCompFilterBarNonPhone.sapUiRespGrid.sapUiRespGridHSpace1 {
    padding-right: 1rem;
}

.compValueHelpDialog.sapMDialog>.sapMDialogSection {
    background-color: darken(@sapUiGroupContentBackground, 2);
}

.compValueHelpDialog.sapMDialog.sapMPopup-CTX > header .sapMHeader-CTX,
.compValueHelpDialog.sapMDialog.sapMPopup-CTX > header .sapMSubHeader-CTX,
.compValueHelpDialog.sapMDialog.sapMPopup-CTX>header.sapMHeader-CTX,
.compValueHelpDialog.sapMDialog.sapMPopup-CTX>header.sapMHeader-CTX {
    background-color: @sapUiPageHeaderBackground;
}
.compValueHelpDialog.sapMDialog.sapMPopup-CTX>header .sapMHeader-CTX.compValueHelpDialogHeaderNoBoxShadow {
   box-shadow: unset;
}
.compValueHelpSmallMarginTop {
    margin-top: 0.5rem;
}

