.sapUiVbmDetailWindowAnchor {
	width: 1px;
	height: 1px;
	position: absolute;
	visibility: hidden;
}

.sapUiVbmDetailWindow {
	padding: 10px;
}

.sapUiVbmDetailWindowBase
{
   font-size: 10px;
   font-family: @sapUiFontFamily;
   color: @sapUiBaseText;
   background-color: transparent;
   text-align: left;
}

.sapUiVbmDetaiWindowCaption {
	font-size: 12px;
	color: @sapUiText;
}

.sapUiVbmDetailWindowCaption3 {
	color: @sapUiText;
	font-size: 14px;
	font-weight: bold;
}

.sapUiVbmDetailWindowAlignLeft {
	text-align: left;
}

.sapUiVbmDetailWindowAlignCenter {
	text-align: center;
}

.sapUiVbmDetailWindowAlignRight {
	text-align: right;
}
