.sapUiVbmViewport {
	padding: 0;
	margin: 0;
	outline-offset: -1px;
	min-width: 100px;
	touch-action: none;
	-ms-touch-action: none;
	overflow: hidden;

	canvas {
		display: block;
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100%;
	}
}