
.sapSuiteUiCommonsTimelineItemUserPicture {
	border-radius: @sapUiElementBorderCornerRadius;
	size: 2rem;
	font-size: 1rem;
}

.sapSuiteUiCommonsTimelineItemActionLink {
	margin-left: 0.5rem;
	font-size: @sapLinkColor;
	background: @sapUiButtonLiteBackground;
	border-color: @sapUiButtonLiteBorderColor;
	color: @sapUiButtonLiteTextColor;
	font-weight: @sapUiButtonEmphasizedFontWeight;

}

.sapSuiteUiCommonsTimelineItemActionLink:hover{

background-color: @sapUiButtonLiteHoverBackground;
border-color: @sapUiButtonLiteHoverBorderColor;
text-shadow: @sapUiContentInteractionShadow;
color: @sapUiButtonLiteHoverTextColor;
}

.sapSuiteUiCommonsTimelineItemShellUser {
	margin-right:  0.3125 rem;
}

.sapSuiteUiCommonsTimelineItemShellHdr {
	font-size: @sapFontSize;
	font-family: @sapFontFamily;
color: @sapUiTextColor;

}

.sapSuiteUiCommonsTimelineItemShellDateTime {
	font-size: @sapUiFontSmallSize;
	margin-top: 0.125 rem;
}

.sapSuiteUiCommonsTimelineItemShellBody {
	font-family: @sapUiFontFamily;
font-size: @sapUiFontSize;
color: @sapUiTextColor;
}

.sapSuiteUiCommonsTimelineItemBarV {
	border-bottom: 1px solid @sapUiContentForegroundBorderColor;
}

.sapSuiteUiCommonsTimelineItemBox {
border-radius:@sapUiElementBorderCornerRadius;
border: 1px solid @sapUiGroupContentBorderColor;
}

.sapSuiteUiCommonsTimelineItemBubble {
	margin-top: 1rem;
}

.sapSuiteUiCommonsTimelineGroupHeader {
	margin-bottom: 0.5rem;
}

.sapSuiteUiCommonsTimelineGroupHeaderWrapper {
	border-radius: 1.625rem;
	background-color: @sapUiButtonBackground;
	border: 1px solid @sapUiButtonBorderColor;
	text-emphasis-color: @sapUiButtonTextColor;
}

.sapSuiteUiCommonsTimelineGroupHeaderSpan {
	font-family: @sapUiFontBoldFamily;
	font-size: @sapUiFontSize;
}
.sapSuiteUiCommonsTimelineItemGroupBarIconWrapper{
	margin-top: 0.5rem ;
	margin-bottom: 0.5rem;
}
.sapSuiteUiCommonsTimelineGroupHeaderPointer {
	font-family: @sapUiContentIconFontFamily;
	font-size: 1 rem;
}

.sapSuiteUiCommonsTimelineScrollV .sapSuiteUiCommonsTimelineGroupHeaderLineWrapper {
	border: 1px dashed;
}

.sapSuiteUiCommonsTimelineItemNoIcon {
	margin-top: 0.25rem ;
	margin-bottom: 0.25rem;
	width: 0.375 rem;
	height: 0.375 rem;
	color: @sapUiContentForegroundBorderColor;
}

.sapSuiteUiCommonsTimelineItemArrow {
	width: 0.5625 rem;
	height: 1.125 rem;
}

.sapSuiteUiCommonsTimelineGroupCollapsed .sapSuiteUiCommonsTimelineGroupHeaderWrapper:hover,
.sapSuiteUiCommonsTimelineGroupCollapsed .sapSuiteUiCommonsTimelineGroupHeaderWrapper:hover .sapSuiteUiCommonsTimelineItemArrow,
.sapSuiteUiCommonsTimelineGroupCollapsed .sapSuiteUiCommonsTimelineGroupHeaderMainWrapper:hover .sapSuiteUiCommonsTimelineItemArrow {
	background-color: @sapUiButtonSelectedHoverBackground;
	border-color: @sapUiButtonSelectedHoverBorderColor;
	box-shadow:	@sapUiContentInteractionShadow;
}