/* =========================================================================== */
/* CSS for sap.suite.ui.commons/ProcessFlowLaneHeader.control                  */
/* Belize Plus Theme                                                           */
/* =========================================================================== */

@_sap_suite_ui_commons_ProcessFlowLaneHeader_PositiveColor: @sapUiPositiveElement;
@_sap_suite_ui_commons_ProcessFlowLaneHeader_NegativeColor: @sapUiNegativeElement;
@_sap_suite_ui_commons_ProcessFlowLaneHeader_CriticalColor: @sapUiCriticalElement;
@_sap_suite_ui_commons_ProcessFlowLaneHeader_NeutralColor: @sapUiNeutralElement;