/* =========================================================================== */
/* CSS for sap.suite.ui.commons/ProcessFlowNode.control                        */
/* Belize Plus Theme                                                           */
/* =========================================================================== */

@_sap_suite_ui_commons_ProcessFlowNode_BorderColorRegular: lighten(@sapUiContentForegroundBorderColor, 2);
@_sap_suite_ui_commons_ProcessFlowNode_BackgroundRegular: lighten(@sapUiGroupContentBackground, 2);
@_sap_suite_ui_commons_ProcessFlowNode_BorderColorRegularPlanned: darken(@sapUiContentForegroundBorderColor, 2);
@_sap_suite_ui_commons_ProcessFlowNode_TextColorPlanned: darken(@sapUiGroupTitleTextColor, 11.5);
@_sap_suite_ui_commons_ProcessFlowNode_BackgroundHighlighted: lighten(@sapUiGroupContentBackground, 2);
@_sap_suite_ui_commons_ProcessFlowNode_BackgroundDimmed: lighten(@sapUiGroupContentBackground, 2);
@_sap_suite_ui_commons_ProcessFlowNode_BorderColorDimmed: darken(@sapUiContentForegroundBorderColor, 20);
@_sap_suite_ui_commons_ProcessFlowNode_TextColorDimmed: darken(@sapUiGroupTitleTextColor, 13.4);
@_sap_suite_ui_commons_ProcessFlowNode_BackgroundHover: lighten(@sapUiGroupContentBackground, 6);
@_sap_suite_ui_commons_ProcessFlowNode_BackgroundFocused: lighten(@sapUiGroupContentBackground, 2);
@_sap_suite_ui_commons_ProcessFlowNode_BorderColorFocused: @sapUiAccent6;
@_sap_suite_ui_commons_ProcessFlowNode_BorderColorFocusedDimmed: darken(@sapUiAccent6, 10);