
/*...........................................................................*/
/* LESS for control sap.ui.vbm/Cluster.control...............................*/
/*...........................................................................*/


.sapUiVbicluster-border-error{
	border-color: fade(@sapUiChartPaletteSemanticBad, 50%);
}

.sapUiVbicluster-textbox-error{
	border-color: @sapUiChartPaletteSemanticBad;
}

.sapUiVbicluster-background-error{
	background-color: @sapUiChartPaletteSemanticBad;
	border-color: @sapUiChartPaletteSemanticBad;
}

.sapUiVbicluster-textbox div{
	font-size: @sapMFontSmallSize;
}

.sapUiVbicluster-background-warning{
	background-color: @sapUiChartPaletteSemanticCriticalDark2;
	border-color: @sapUiChartPaletteSemanticCriticalDark2;
}

.sapUiVbicluster-border-warning{
	border-color: fade(@sapUiChartPaletteSemanticCriticalDark2, 50%);
}

.sapUiVbicluster-textbox-warning{
	border-color: @sapUiChartPaletteSemanticCriticalDark2;
}

.sapUiVbicluster-background-success{
	border-color: fade(@sapUiChartPaletteSemanticGoodDark1, 50%);
}

.sapUiVbicluster-border-success{
	border-color: fade(@sapUiChartPaletteSemanticGoodDark1, 50%);
}

.sapUiVbicluster-iconSuccess{
	color: @sapUiChartPaletteSemanticGoodDark1;
}

.sapUiVbicluster-textbox-success{
	border-color: @sapUiChartPaletteSemanticGoodDark1;
}

.sapUiVbicluster-background-default{
	border-color: fade(@sapUiChartPaletteSemanticNeutralDark2, 50%);
}

.sapUiVbicluster-border-default{
	border-color: fade(@sapUiChartPaletteSemanticNeutralDark2, 50%);
}

.sapUiVbicluster-iconDefault{
	color: @sapUiChartPaletteSemanticNeutralDark2;
}

.sapUiVbicluster-textbox-default{
	border-color: @sapUiChartPaletteSemanticNeutralDark2;
}
