/* ======================================================== */
/* CSS for control sap.suite.ui.microchart/BulletMicroChart */
/* Belize Theme                                             */
/* ======================================================== */

.sapSuiteBMCTargetValue {
	color: @sapUiChartCategoryAxisLabelFontColor;
}

.sapSuiteBMCForecastBarValue {
	border-right: 1px solid @sapUiBaseBG;
}

/* Scale Colors Start */

.sapSuiteBMCBar.sapSuiteBMCScaleColorLightest {
	background-color: #ffffff;
}

.sapSuiteBMCBar.sapSuiteBMCScaleColorExtraLight {
	background-color: #f2f2f2;
}

.sapSuiteBMCBar.sapSuiteBMCScaleColorLight {
	background-color: #e5e5e5;
}

.sapSuiteBMCBar.sapSuiteBMCScaleColorMedium {
	background-color: #dddddd;
}

.sapSuiteBMCBar.sapSuiteBMCScaleColorMediumLight {
	background-color: @sapUiChartDataPointBG;
}

.sapSuiteBMCBar.sapSuiteBMCScaleColorDark {
	background-color: #777777;
}

.sapSuiteBMCBar.sapSuiteBMCScaleColorExtraDark {
	background-color: #333333;
}

.sapSuiteBMCBar.sapSuiteBMCScaleColorDarkest {
	background-color: #000000;
}

/* Scale Colors End */