/* ==================================================================== */
/* CSS for control sap.suite.ui.commons/NetworkNode      */
/* Belize Theme                                                         */
/* ==================================================================== */

.sapSuiteUiCommonsNetworkInnerRect,
.sapSuiteUiCommonsNetworkInnerCircle,
.sapSuiteUiCommonsNetworkCircleNodeTitleWrapper {
  fill: lighten(@sapUiContentForegroundColor, 10);
  stroke: @sapUiContentForegroundBorderColor;
}


.sapSuiteUiCommonsNetworkNodes .sapSuiteUiCommonsNetworkElementHighlight .sapSuiteUiCommonsNetworkInnerRect,
.sapSuiteUiCommonsNetworkNodes .sapSuiteUiCommonsNetworkElementHighlight .sapSuiteUiCommonsNetworkInnerCircle {
  stroke: @sapUiButtonHoverBackground;
  fill: lighten(@sapUiContentForegroundColor, 2.5);
}
