/* ============================= */
/* CSS for control sap.m/Slider  */
/* Evening Horizon theme         */
/* ============================= */

/* slider */
.ui5-sap-viz-vizRangeSlider.sapVizSlider  .sapVizSliderProgress.focus{
    border:0.1875rem solid @sapUiDragAndDropBorderColor;
    background:none;
}

.ui5-sap-viz-vizRangeSlider.sapVizSlider  .sapVizSliderProgress:hover{
    border:0.1875rem solid @sapUiDragAndDropBorderColor;
    background:none;
}