/******** search button in head end area ********/

#sf {
    width: 2.5rem;
}

#sf:before {
    border-right: @sapUshellOnePixel solid transparent;
}

#sf span {
    margin-left: 0;
    margin-right: 0;
}

/******** suggestion ********/

#searchFieldInShell-input-popup {
    i {
        color: @sapUiAccent7; //sapUiContentMarkerTextColor not known
    }
}
