html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 0;
}

header {
  background-color: #000;
  color: #fad161;
  padding: 20px;
  text-align: center;
  top: 0;
  /* background-image: url('cover.jpg'); */
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

nav {
  position: sticky;
  top: 0;
  background-color: #000;
  padding: 20px;
  text-align: center;
  z-index: 999;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fad161;
  text-decoration: none;
}

.parallax-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 75vh;
  position: relative;
  background-size: contain;
}

#openui5 {
  background-image: url("openui5-cover.jpg");
}

#fiorielements {
  background-image: url("fiori-elements-cover.jpg");
}

#webcomponents {
  background-image: url("ui5-webcomponents-cover.jpg");
}

#fundamentals {
  background-image: url("fundamental-library-styles-cover.jpg");
}

.preview-content {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.preview-content h1 a {
  margin-bottom: 20px;
  background-color: #000;
  color: #fad161;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: lighter;
}

#fiorielements .preview-content h1 a:hover {
  cursor: not-allowed;
}

.ribbon {
  position: fixed;
  top: 4.6em;
  left: -3.4em;
  z-index: 9999;
  width: 18em;
  height: 2em;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  line-height: 2em;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-size: 16px;
  background-color: #6c757d;
  top: auto;
  bottom: 4.6em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}