/* ============================================================ */
/* CSS for control sap.suite.ui.microchart/HarveyBallMicroChart */
/* Bluecrystal Theme                                            */
/* ============================================================ */

.sapSuiteHBMCSemanticColorNeutral {
	&.sapSuiteHBMCValueContainer {
		color: darken(@sapUiChartNeutral, 30);
		fill: darken(@sapUiChartNeutral, 30);
	}
	&.sapSuiteHBMCValueScale, &.sapSuiteHBMCValue {
		color: darken(@sapUiChartNeutral, 30);
	}
}

.sapSuiteHBMCSegment {
	stroke: @sapUiLightestBorder;
}
