/* ======================================================== */
/* CSS for sap.suite.ui.microchart/RadialMicroChart.control */
/* Bluecrystal Theme                                        */
/* ======================================================== */

.sapSuiteRMCCircleBackground {
	fill: @sapUiLightestBG;
	stroke: @sapUiLightestBG;
}

.sapSuiteRMCRemainingCircle {
	stroke: @sapUiLightBG;
}

.sapSuiteRMCNeutralTextColor {
	fill: @sapUiLightText;
}
