/* ===================================== */
/* CSS for control sap.ushell/Factsheet  */
/* ===================================== */

.sapFactsheetUtiLabel {
	color: @sapUiContentLabelColor;
}

.sapFactsheetUtiPanel .sapMList,.sapFactsheetUtiPanel.sapMList {
	background-color: rgba(255, 255, 255, 0.8);
}

.sapFactsheetUtiGeneralInformationUtg .sapSuiteUtgContent {
	background-color: rgba(255, 255, 255, 0.8);
}

.sapFactsheetUtiGeoPopup .vbi-detail-content, .sapFactsheetUtiGeoPopup .sapUiForm, 
.sapFactsheetUtiGeoPopup .sapUiFormResLayout, .sapFactsheetUtiGeoPopup .sapUiFormResLayout>div {
    background-color: rgba(0, 0, 0, 0);
}

.sapFactsheetUtiGeoPopupDescr {
	color: @sapUiContentLabelColor;
}

.sapFactsheetUtiGeoPopupText {
	color: @sapUiContentLabelColor;
}

.sapFactsheetUtiTextValue {
	color: @sapUiContentLabelColor;
}

.sapFactsheetUtiEmptyTile.sapSuiteFov {
	background-color: rgba(255, 255, 255, 0.4);
}
