/* ===================================== */
/* CSS for control sap.ushell/TileState  */
/* ===================================== */

.sapUshellGT {
    background: @sapUiTileBackground;
}

.sapUiMedia-Std-Desktop .sapUshellGT:hover, .sapUshellGT:active {
    background: fade(@sapUiShellHoverBackground, 4);
}

.sapUshellOverlay {
    background-color: @sapUiTileBackground;
    opacity: 0.8;
}

.sapUshellTileStateFtrFldTxt {
    font-weight: normal;
}