/* This CSS shares it rules with all other LESS of this library */
@_sap_ui_vbm_shared_ChoroplethRegionBG : rgb(213,218,221);
@_sap_ui_vbm_shared_ChoroplethRegionBorder : rgb(255,255,255);
@_sap_ui_vbm_shared_ChartDataPointBorderHoverSelectedColor : #676767 ;
@_sap_ui_vbm_shared_ChartDataPointNotSelectedBackgroundOpacity : 0.6 ;
@_sap_ui_vbm_shared_ChartBad :   rgb(211, 32, 48) ;
@_sap_ui_vbm_shared_ChartCritical :  rgb(225, 123, 36) ;
@_sap_ui_vbm_shared_ChartGood  : rgb(97, 166, 86) ;
@_sap_ui_vbm_shared_ChartNeutral :   rgb(132, 143, 148) ;