/* ================================================================== */
/* CSS for sap.suite.ui.commons/ProcessFlowConnection.control         */
/* Base Theme                                                         */
/* ================================================================== */

.sapSuiteUiCommonsParentPosition {
	position: relative;
}
.sapSuiteUiCommonsFloatLeft {
	float: left;
}
.sapSuiteUiCommonsFloatClear {
	clear: both;
}
.sapSuiteUiCommonsBoxMiddleWidth {
	width: 0.125rem;
}
.sapSuiteUiCommonsPFWithLabel.sapSuiteUiCommonsBoxMiddleWidth {
	width: 0.09375rem;
}
html[data-sap-ui-browser^="cr"] .sapSuiteUiCommonsPFWithLabel.sapSuiteUiCommonsBoxMiddleWidth,
html[data-sap-ui-os^="iOS"] .sapSuiteUiCommonsPFWithLabel.sapSuiteUiCommonsBoxMiddleWidth,
html[data-sap-ui-browser^="sf"] .sapSuiteUiCommonsPFWithLabel.sapSuiteUiCommonsBoxMiddleWidth {
	width: 0.125rem;
}
html[data-sap-ui-browser^="ie"] .sapSuiteUiCommonsBoxMiddleWidth {
	width: 0.14rem;
}
html[data-sap-ui-browser^="ie"] .sapSuiteUiCommonsPFWithLabel.sapSuiteUiCommonsBoxMiddleWidth {
	width: 0.1rem;
}
.sapSuiteUiCommonsBoxMiddleBorderWidth {
	width: 0rem;
}
/* The left part of the arrow before the branch */
.sapSuiteUiCommonsBoxZoom1Width {
	width: 1.9375rem;
}
.sapSuiteUiCommonsBoxZoom2Width {
	width: 1.4375rem;
}
.sapSuiteUiCommonsBoxZoom3Width {
	width: 1.9375rem;
}
.sapSuiteUiCommonsBoxZoom4Width {
	width: 2.4375rem;
}
/* The left part of the arrow before the branch when PF has labels*/
.sapSuiteUiCommonsPFWithLabel.sapSuiteUiCommonsBoxZoom1Width {
	width: 1rem;
}
.sapSuiteUiCommonsBoxZoom2Width.sapSuiteUiCommonsPFWithLabel {
	width: 1rem;
}
.sapSuiteUiCommonsBoxZoom3Width.sapSuiteUiCommonsPFWithLabel {
	width: 1rem;
}
.sapSuiteUiCommonsBoxZoom4Width.sapSuiteUiCommonsPFWithLabel {
	width: 1rem;
}
/* The connection when there is no arrow. */
.sapSuiteUiCommonsBoxZoom1WidthWithLabel {
	width: 7rem;
}
/*Blackberry doesn't work fine with 6rem instead, works for 5.99rem*/
html[data-sap-ui-os^="bb"] .sapSuiteUiCommonsBoxZoom1WidthWithLabel {
	width: 5.99rem;
}
.sapSuiteUiCommonsBoxZoom2WidthWithLabel {
	width: 7rem;
}
html[data-sap-ui-os^="bb"] .sapSuiteUiCommonsBoxZoom2WidthWithLabel {
	width: 5.99rem;
}
.sapSuiteUiCommonsBoxZoom3WidthWithLabel {
	width: 7rem;
}
html[data-sap-ui-os^="bb"] .sapSuiteUiCommonsBoxZoom3WidthWithLabel {
	width: 5.99rem;
}
.sapSuiteUiCommonsBoxZoom4WidthWithLabel {
	width: 7rem;
}
html[data-sap-ui-os^="bb"] .sapSuiteUiCommonsBoxZoom4WidthWithLabel {
	width: 5.99rem;
}
/* The right part of the arrow, after the branch. */
.sapSuiteUiCommonsBoxArrowZoom1Width {
	width: 1.3125rem;
}
.sapSuiteUiCommonsBoxArrowZoom2Width {
	width: 0.8125rem;
}
.sapSuiteUiCommonsBoxArrowZoom3Width {
	width: 1.3125rem;
}
.sapSuiteUiCommonsBoxArrowZoom4Width {
	width: 1.8125rem;
}
/* The right part of the arrow, after the branch when PF has labels. */
.sapSuiteUiCommonsBoxArrowZoom1Width.sapSuiteUiCommonsPFWithLabel {
	width: 5.45rem;
}
.sapSuiteUiCommonsBoxArrowZoom2Width.sapSuiteUiCommonsPFWithLabel {
	width: 5.45rem;
}
.sapSuiteUiCommonsBoxArrowZoom3Width.sapSuiteUiCommonsPFWithLabel {
	width: 5.45rem;
}
.sapSuiteUiCommonsBoxArrowZoom4Width.sapSuiteUiCommonsPFWithLabel {
	width: 5.45rem;
}
.sapSuiteUiCommonsBoxWideWidth {
	width: 100%;
}
/* The whole arrow, when there is no branch. */
.sapSuiteUiCommonsBoxWideArrowZoom1Width {
	width: 3.375rem;
}
.sapSuiteUiCommonsBoxWideArrowZoom2Width {
	width: 2.375rem;
}
.sapSuiteUiCommonsBoxWideArrowZoom3Width {
	width: 3.375rem;
}
.sapSuiteUiCommonsBoxWideArrowZoom4Width {
	width: 4.375rem;
}
/* The whole arrow, when there is no branch and PF has labels. */
.sapSuiteUiCommonsBoxWideArrowZoom1Width.sapSuiteUiCommonsPFWithLabel {
	width: 6.5rem;
}
.sapSuiteUiCommonsBoxWideArrowZoom2Width.sapSuiteUiCommonsPFWithLabel {
	width: 6.5rem;
}
.sapSuiteUiCommonsBoxWideArrowZoom3Width.sapSuiteUiCommonsPFWithLabel {
	width: 6.5rem;
}
.sapSuiteUiCommonsBoxWideArrowZoom4Width.sapSuiteUiCommonsPFWithLabel {
	width: 6.5rem;
}
.sapSuiteUiCommonsBoxWideZoom1Height {
	height: 14.8125rem;
}
.sapSuiteUiCommonsBoxWideZoom2Height {
	height: 13.5625rem;
}
.sapSuiteUiCommonsBoxWideZoom3Height {
	height: 9.5rem;
}
.sapSuiteUiCommonsBoxWideZoom4Height {
	height: 4.75rem;
}
.sapSuiteUiCommonsBoxTopZoom1Height {
	height: 6rem;
}
.sapSuiteUiCommonsBoxTopZoom2Height {
	height: 5.5625rem;
}
.sapSuiteUiCommonsBoxTopZoom3Height {
	height: 4.0625rem;
}
.sapSuiteUiCommonsBoxTopZoom4Height {
	height: 1.75rem;
}
.sapSuiteUiCommonsBoxMiddleHeight {
	height: 0.125rem;
}
.sapSuiteUiCommonsBoxMiddleBorderHeight {
	height: 0rem;
}
.sapSuiteUiCommonsBoxBottomZoom1Height {
	height: 8.6875rem;
}
.sapSuiteUiCommonsBoxBottomZoom2Height {
	height: 7.875rem;
}
.sapSuiteUiCommonsBoxBottomZoom3Height {
	height: 5.3125rem;
}
.sapSuiteUiCommonsBoxBottomZoom4Height {
	height: 2.875rem;
}
.sapSuiteUiCommonsBorderLeft {
	border-left-width: 0.125rem;
}
.sapSuiteUiCommonsBorderBottom {
	border-bottom-width: 0.125rem;
}
.sapSuiteUiCommonsBorderLeftTypeNormal {
	border-left-style: solid;
}
.sapSuiteUiCommonsBorderLeftTypePlanned {
	border-left-style: dashed;
}
.sapSuiteUiCommonsBorderBottomTypeNormal {
	border-bottom-style: solid;
}
.sapSuiteUiCommonsBorderBottomTypePlanned {
	border-bottom-style: dashed;
}
.sapSuiteUiCommonsArrowRight {
	width: 0rem;
	height: 0rem;
	position: absolute;
	right: -1rem;
	bottom: -0.3125rem;
	border-style: solid;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-width: 0.25rem 0.5rem;
}
