/* ===================================================================== */
/* CSS for control sap.suite.ui.microchart/InteractiveDonutChart.control */
/* Belize Plus Theme                                                     */
/* ===================================================================== */

@_sap_suite_ui_microchart_InteractiveDonutChart_SegmentHoverBackground: 		fade(lighten(saturate(@sapUiBrand, 40), 30), 20);
@_sap_suite_ui_microchart_InteractiveDonutChart_SegmentSelectedBackground: 		fade(lighten(saturate(@sapUiBrand, 40), 30), 20);
@_sap_suite_ui_microchart_InteractiveDonutChart_SegmentSelectedHoverBackground:	fade(lighten(saturate(@sapUiBrand, 40), 30), 40);
@_sap_suite_ui_microchart_InteractiveDonutChart_SegmentBorder:					fade(lighten(saturate(@sapUiBrand, 40), 30), 80);
@_sap_suite_ui_microchart_InteractiveDonutChart_SegmentFillColor:				lighten(saturate(@sapUiBrand, 40), 30);
@_sap_suite_ui_microchart_InteractiveDonutChart_SegmentBorderHover:		        fade(@sapUiHighlight, 40);
@_sap_suite_ui_microchart_InteractiveDonutChart_SegmentBorderHoverSelected:		fade(@sapUiHighlight, 80);
