/* ============================================================ */
/* CSS for control sap.suite.ui.microchart/InteractiveLineChart */
/* Belize Plus Theme                                            */
/* ============================================================ */

@_sap_suite_ui_microchart_InteractiveLineChart_LineColor:						lighten(saturate(@sapUiBrand, 40), 30);
@_sap_suite_ui_microchart_InteractiveLineChart_SectionHoverBackground:			fade(lighten(saturate(@sapUiBrand, 40), 30), 20);
@_sap_suite_ui_microchart_InteractiveLineChart_SectionSelectedBackground:		fade(lighten(saturate(@sapUiBrand, 40), 30), 20);
@_sap_suite_ui_microchart_InteractiveLineChart_SectionSelectedHoverBackground:	fade(lighten(saturate(@sapUiBrand, 40), 30), 40);
@_sap_suite_ui_microchart_InteractiveLineChart_BottomLabelBorderColor:			lighten(@sapUiChartGridlineColor, 40);
@_sap_suite_ui_microchart_InteractiveLineChart_DividerColor:					lighten(@sapUiChartGridlineColor, 40);

@_sap_suite_ui_microchart_InteractiveLineChart_SelectedPointBorder:				mix(@sapUiGlobalBackgroundColor, lighten(saturate(@sapUiBrand, 40), 30), 80%);
@_sap_suite_ui_microchart_InteractiveLineChart_HoverPointBorder:				mix(@sapUiGlobalBackgroundColor, lighten(saturate(@sapUiBrand, 40), 30), 80%);
@_sap_suite_ui_microchart_InteractiveLineChart_SelectedHoverPointBorder:		mix(@sapUiGlobalBackgroundColor, lighten(saturate(@sapUiBrand, 40), 30), 60%);
